In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from collections import defaultdict
from functools import reduce
import os

import seaborn as sns
import matplotlib.pyplot as plt

import pickle

In [2]:
#Eingabe Parameter

In [3]:
längeAnalyse= 10

startZeit= pd.to_datetime("2014-01-01 00:00")
endZeit= pd.to_datetime("2023-12-31 23:00")

#10% unproblematisch, 30% warscheinlich zuviel
maxShareMissingValues= 0.1

features= ['TT_TU', 'RF_TU', '  R1', '  P0', '   F']
stationFeatures= ['MESS_DATUM', 'STATIONS_ID', 'Stationshoehe', 'geoBreite', 'geoLaenge', 'Stationsname']

In [4]:
hourVarying= ['TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR', '   P', '  P0', '   F', '   D']
unVarying= ['STATIONS_ID', 'Stationshoehe', 'geoBreite', 'geoLaenge', 'Stationsname', 'day', 'month', 'month_sin', 'month_cos', 'day_of_year_sin', 'day_of_year_cos']

In [5]:
#realistische Wertebereich

#Lufttemperatur -38 -- 45 ('TT_TU')
#Relative Luftfeuchtigkeit 0 -- 100 ('RF_TU')
#Niederschlagshöhe 0 -- 245 ('  R1')
#Niederschlags Indikator 0 -- 1 ('RS_IND')
#Niederschlags Form 0 -- 9 ('WRTR')
#Luftdruck Meereshöhe 800 -- 1100 ('   P')
#Luftdruck 800 -- 1100 ('  P0')
#Windgeschwindigkeit 0 -- 350 ('   F')
#Windrichtung 0 -- 360 ('   D')

In [6]:
werteBereicheDictionary= {
    'TT_TU': [-38, 45],
    'RF_TU': [0, 100],
    '  R1': [0, 245],
    'RS_IND': [0, 1],
    'WRTR': [0, 9],
    '   P': [800, 1100],
    '  P0': [800, 1100],
    '   F': [0, 350],
    '   D': [0, 360]
}

In [7]:
#Imputation Methoden
#                           1h - 3h         3h - 1 d                    1d - 3d                     > 3d
#TT_TU(Tempreature)         Forward Fill    Zeitbasierte Interpolation  Zeitbasierte Interpolation  Lineare Regression
#RF_TU(Relative Humidity)   Forward Fill    Zeitbasierte Interpolation  Zeitbasierte Interpolation  Random Forest Imputation
#R1(Percipation)            FillNA(0)       Zeitbasierte Interpolation  Saisonale Mittelwerte       Lineare Regression
#P0(Presure)                Forward Fill    Zeitbasierte Interpolation  Zeitbasierte Interpolation  Lineare Regression
#F(Windspeed)               Forward Fill    Zeitbasierte Interpolation  Zeitbasierte Interpolation  Random Forest Imputation

In [8]:
independendMeasurments= [("TT_TU", 1, 3, "Forward Fill"), ("RF_TU", 1, 3, "Forward Fill"), ("  R1", 1, 3, "FillNA(0)"), ("  P0", 1, 3, "Forward Fill"), ("   F", 1, 3, "Forward Fill"), ("TT_TU", 4, 72, "Zeitbasierte Interpolation"), ("RF_TU", 4, 72, "Zeitbasierte Interpolation"), ("  R1", 4, 24, "Zeitbasierte Interpolation"), ("  P0", 4, 72, "Zeitbasierte Interpolation"), ("   F", 4, 72, "Zeitbasierte Interpolation"), ("  R1", 25, 72, "Saisonale Mittelwerte")]
dependendMeasurments= [("TT_TU", 73, -1, "Lineare Regression"), ("RF_TU", 73, -1, "Random Forest Imputation"), ("  R1", 73, -1, "Lineare Regression"), ("  P0", 73, -1, "Lineare Regression"), ("   F", 73, -1, "Random Forest Imputation")]

In [9]:
#Files Einlesen (Dictionary pro Typ und Geodaten einzeln)

In [10]:
folder_path = "..\data\TU"

txt_files = [f for f in os.listdir(folder_path) if f.endswith(".txt")]

dataframesTU = {}

for file_name in txt_files:
    file_path = os.path.join(folder_path, file_name)
    
    df = pd.read_csv(file_path, sep= ";")

    #Name creation
    file_base = os.path.splitext(file_name)[0]
    parts = file_base.split("_")
    key = f"{parts[1]}_{parts[-1]}"

    dataframesTU[key] = df

In [11]:
folder_path = "..\data\RR"

txt_files = [f for f in os.listdir(folder_path) if f.endswith(".txt")]

dataframesRR = {}

for file_name in txt_files:
    file_path = os.path.join(folder_path, file_name)
    
    df = pd.read_csv(file_path, sep= ";")

    #Name creation
    file_base = os.path.splitext(file_name)[0]
    parts = file_base.split("_")
    key = f"{parts[1]}_{parts[-1]}"

    dataframesRR[key] = df

In [12]:
folder_path = "..\data\P0"

txt_files = [f for f in os.listdir(folder_path) if f.endswith(".txt")]

dataframesP0 = {}

for file_name in txt_files:
    file_path = os.path.join(folder_path, file_name)
    
    df = pd.read_csv(file_path, sep= ";")

    #Name creation
    file_base = os.path.splitext(file_name)[0]
    parts = file_base.split("_")
    key = f"{parts[1]}_{parts[-1]}"

    dataframesP0[key] = df

In [13]:
folder_path = "..\data\FF"

txt_files = [f for f in os.listdir(folder_path) if f.endswith(".txt")]

dataframesFF = {}

for file_name in txt_files:
    file_path = os.path.join(folder_path, file_name)
    
    df = pd.read_csv(file_path, sep= ";")

    #Name creation
    file_base = os.path.splitext(file_name)[0]
    parts = file_base.split("_")
    key = f"{parts[1]}_{parts[-1]}"

    dataframesFF[key] = df

In [14]:
dataDictionary= {
    "TU": dataframesTU,
    "RR": dataframesRR,
    "P0": dataframesP0,
    "FF": dataframesFF
}

In [15]:
columnNames = ["Stations_id", "von_datum", "bis_datum", "Stationshoehe","geoBreite", "geoLaenge", "Stationsname", "Bundesland", "Abgabe"]

methaDataTUtxt= pd.read_fwf("..\data\Metha List\TU_Stundenwerte_Beschreibung_Stationen.txt", encoding="iso-8859-1", skiprows=2, names=columnNames)

methaDataTU= pd.DataFrame(methaDataTUtxt)

methaDataTU= methaDataTU.drop(columns= ["von_datum", "bis_datum", "Bundesland", "Abgabe"])

In [16]:
#Datatype conversion

In [17]:
for dataKey, dataFrames in dataDictionary.items():
    for key, frames in dataDictionary[dataKey].items():
        dataDictionary[dataKey][key]['MESS_DATUM']= pd.to_datetime(frames['MESS_DATUM'].astype(str), format= '%Y%m%d%H')
        dataDictionary[dataKey][key] = dataDictionary[dataKey][key].sort_values('MESS_DATUM')

        dataDictionary[dataKey][key]= dataDictionary[dataKey][key].drop('eor', axis= 1)
        dataDictionary[dataKey][key]= dataDictionary[dataKey][key].drop(columns=[col for col in dataDictionary[dataKey][key].columns if col.startswith("QN_")])

In [18]:
#Zu vollen Timeline auffüllen

In [19]:
timeFrame= pd.date_range(start= startZeit, end= endZeit, freq='H')
dfRange= pd.DataFrame({'MESS_DATUM': timeFrame})

for dataKey, dataFrames in dataDictionary.items():
    for key, frames in dataDictionary[dataKey].items():
        dataDictionary[dataKey][key]= dfRange.merge(frames, on= 'MESS_DATUM', how= 'left')

C:\Users\johan\AppData\Local\Temp\ipykernel_18984\2061985130.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  timeFrame= pd.date_range(start= startZeit, end= endZeit, freq='H')

In [20]:
for dataKey, dataFrames in dataDictionary.items():
    for key, frames in dataDictionary[dataKey].items():
        print(key, frames.isnull().any(axis=1).sum())

tu_00867 251
tu_00656 0
tu_01691 0
tu_02261 0
tu_05371 0
tu_01270 0
tu_02171 87
tu_03946 279
tu_05490 8
tu_02925 125
tu_00198 31
tu_01612 0
tu_04501 144
tu_03231 0
tu_02044 26
tu_03821 3
tu_03513 9
tu_04464 73
tu_07368 0
rr_00198 119
rr_00656 17
rr_00867 350
rr_01270 71
rr_01612 292
rr_01691 260
rr_02044 854
rr_02171 275
rr_02925 222
rr_03231 49
rr_03513 208
rr_03821 3314
rr_03946 6447
rr_04464 3015
rr_04501 374
rr_05490 413
rr_05371 98
rr_02261 62
rr_07368 180
p0_00656 0
p0_00867 142
p0_02261 0
p0_05371 0
p0_01691 0
p0_02171 0
p0_00198 0
p0_01270 0
p0_01612 0
p0_03946 136
p0_05490 0
p0_02925 104
p0_03231 0
p0_04501 0
p0_03513 0
p0_04464 0
p0_02044 0
p0_03821 0
p0_07368 0
ff_00656 651
ff_02261 883
ff_05490 395
ff_05371 98
ff_00198 295
ff_01691 636
ff_00867 635
ff_01270 2
ff_01612 169
ff_02925 581
ff_03946 697
ff_02171 451
ff_04501 613
ff_03231 78
ff_02044 1145
ff_03821 954
ff_03513 395
ff_04464 1040
ff_07368 493

In [21]:
#Pro Station Mergen

In [22]:
stationGroups= defaultdict(list)

for dataKey, dataFrames in dataDictionary.items():
    for key, frames in dataDictionary[dataKey].items():
        stationId= key.split("_")[1]
        stationGroups[stationId].append((dataKey, frames))

In [23]:
stationDataDictionary= {}

for stationId, framesList in stationGroups.items():
    dfMerged= None

    for key, frames in framesList:
        dfRename= frames.copy()
        dfRename= dfRename.rename(columns= lambda col: f"{key}_{col}" if col == "STATIONS_ID" and not key == "FF" else col)

        if dfMerged is None:
            dfMerged= dfRename
        else:
            dfMerged=pd.merge(dfMerged, dfRename, on= 'MESS_DATUM', how= 'outer')
    
    cols= list(dfMerged.columns)
    cols.remove("STATIONS_ID")
    cols.insert(1, "STATIONS_ID")
    stationDataDictionary[stationId]= dfMerged[cols]

In [24]:
for key, frames in stationDataDictionary.items():
    stationIdColsToDrop = [
        col for col in stationDataDictionary[key].columns
        if col.endswith('_STATIONS_ID')
    ]
    stationDataDictionary[key] = stationDataDictionary[key].drop(columns=stationIdColsToDrop)

In [25]:
for key, frames in stationDataDictionary.items():
    stationDataDictionary[key]['STATIONS_ID']= stationDataDictionary[key]['STATIONS_ID'].mode().iloc[0]

    stationDataDictionary[key]= pd.merge(stationDataDictionary[key], methaDataTU, left_on= 'STATIONS_ID', right_on= 'Stations_id', how= 'left')
    stationDataDictionary[key]= stationDataDictionary[key].drop(columns= ["Stations_id"], axis= 1)

In [26]:
for key, frame in stationDataDictionary.items():
    stationDataDictionary[key]['hour'] = frame['MESS_DATUM'].dt.hour
    stationDataDictionary[key]['day'] = frame['MESS_DATUM'].dt.day
    stationDataDictionary[key]['month'] = frame['MESS_DATUM'].dt.month
    stationDataDictionary[key]['hour_sin'] = np.sin(2 * np.pi * frame['hour'] / 24)
    stationDataDictionary[key]['hour_cos'] = np.cos(2 * np.pi * frame['hour'] / 24)
    stationDataDictionary[key]['month_sin'] = np.sin(2 * np.pi * frame['month'] / 12)
    stationDataDictionary[key]['month_cos'] = np.cos(2 * np.pi * frame['month'] / 12)
    stationDataDictionary[key]['day_of_year_sin'] = np.sin(2 * np.pi * frame['MESS_DATUM'].dt.dayofyear / 365)
    stationDataDictionary[key]['day_of_year_cos'] = np.cos(2 * np.pi * frame['MESS_DATUM'].dt.dayofyear / 365)

In [27]:
for key, frame in stationDataDictionary.items():
    print(key, frame.columns)

00867 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
00656 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
01691 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
02261 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
05371 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
01270 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
02171 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
03946 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
05490 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
02925 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
00198 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
01612 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
04501 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
03231 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
02044 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
03821 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
03513 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
04464 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')
07368 Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')

In [28]:
print(stationDataDictionary)

{'00867':                MESS_DATUM  STATIONS_ID  TT_TU  RF_TU    R1  RS_IND   WRTR  \
0     2014-01-01 00:00:00        867.0   -1.1   91.0   0.0     0.0 -999.0
1     2014-01-01 01:00:00        867.0   -1.2   93.0   0.0     0.0 -999.0
2     2014-01-01 02:00:00        867.0   -1.2   93.0   0.0     0.0 -999.0
3     2014-01-01 03:00:00        867.0   -1.1   92.0   0.0     0.0 -999.0
4     2014-01-01 04:00:00        867.0   -1.5   94.0   0.0     0.0 -999.0
...                   ...          ...    ...    ...   ...     ...    ...
87643 2023-12-31 19:00:00        867.0    5.9   84.0   0.0     0.0    0.0
87644 2023-12-31 20:00:00        867.0    5.6   81.0   0.0     0.0    0.0
87645 2023-12-31 21:00:00        867.0    5.0   83.0   0.0     0.0    0.0
87646 2023-12-31 22:00:00        867.0    4.8   84.0   0.0     0.0    0.0
87647 2023-12-31 23:00:00        867.0    5.2   80.0   0.0     0.0    0.0

            P     P0     F  ...          Stationsname  hour  day  month  \
0      1017.4  974.5   4.1  ...  Lautertal-Oberlauter     0    1      1
1      1016.9  974.0   3.6  ...  Lautertal-Oberlauter     1    1      1
2      1017.0  974.1   3.8  ...  Lautertal-Oberlauter     2    1      1
3      1017.0  974.1   4.1  ...  Lautertal-Oberlauter     3    1      1
4      1017.1  974.1   2.7  ...  Lautertal-Oberlauter     4    1      1
...       ...    ...   ...  ...                   ...   ...  ...    ...
87643  1007.5  966.1   2.8  ...  Lautertal-Oberlauter    19   31     12
87644  1007.9  966.4   2.3  ...  Lautertal-Oberlauter    20   31     12
87645  1008.2  966.6   1.4  ...  Lautertal-Oberlauter    21   31     12
87646  1008.0  966.4   2.8  ...  Lautertal-Oberlauter    22   31     12
87647  1008.5  966.9   1.9  ...  Lautertal-Oberlauter    23   31     12

       hour_sin  hour_cos     month_sin  month_cos  day_of_year_sin  \
0      0.000000  1.000000  5.000000e-01   0.866025     1.721336e-02
1      0.258819  0.965926  5.000000e-01   0.866025     1.721336e-02
2      0.500000  0.866025  5.000000e-01   0.866025     1.721336e-02
3      0.707107  0.707107  5.000000e-01   0.866025     1.721336e-02
4      0.866025  0.500000  5.000000e-01   0.866025     1.721336e-02
...         ...       ...           ...        ...              ...
87643 -0.965926  0.258819 -2.449294e-16   1.000000     6.432491e-16
87644 -0.866025  0.500000 -2.449294e-16   1.000000     6.432491e-16
87645 -0.707107  0.707107 -2.449294e-16   1.000000     6.432491e-16
87646 -0.500000  0.866025 -2.449294e-16   1.000000     6.432491e-16
87647 -0.258819  0.965926 -2.449294e-16   1.000000     6.432491e-16

       day_of_year_cos
0             0.999852
1             0.999852
2             0.999852
3             0.999852
4             0.999852
...                ...
87643         1.000000
87644         1.000000
87645         1.000000
87646         1.000000
87647         1.000000

[87648 rows x 24 columns], '00656':                MESS_DATUM  STATIONS_ID  TT_TU  RF_TU    R1  RS_IND   WRTR  \
0     2014-01-01 00:00:00        656.0   -0.9   71.0   0.0     0.0 -999.0
1     2014-01-01 01:00:00        656.0   -1.1   76.0   0.0     0.0 -999.0
2     2014-01-01 02:00:00        656.0    0.2   65.0   0.0     0.0 -999.0
3     2014-01-01 03:00:00        656.0    0.9   59.0   0.0     0.0 -999.0
4     2014-01-01 04:00:00        656.0    0.7   62.0   0.0     0.0 -999.0
...                   ...          ...    ...    ...   ...     ...    ...
87643 2023-12-31 19:00:00        656.0    4.1   81.0   0.0     0.0    0.0
87644 2023-12-31 20:00:00        656.0    3.6   83.0   0.0     0.0    0.0
87645 2023-12-31 21:00:00        656.0    3.6   82.0   0.0     0.0    0.0
87646 2023-12-31 22:00:00        656.0    3.6   83.0   0.0     0.0    0.0
87647 2023-12-31 23:00:00        656.0    3.9   82.0   0.0     0.0    0.0

            P     P0     F  ...  Stationsname  hour  day  month  hour_sin  \
0      1014.5  940.6   0.8  ...     Braunlage     0    1      1  0.000000
1      1014.3  940.3   0.7  ...     Braunlage     1    1      1  0.258819
2      1013.6  940.0   1.0  ...     Braunlage     2    1      1  0.500000
3      1013.3  939.9   2.5  ...     Braunlage     3    1      1  0.707107
4      1013.1  939.7   3.8  ...     Braunlage     4    1      1  0.866025
...       ...    ...   ...  ...           ...   ...  ...    ...       ...
87643  1003.6  931.8   6.1  ...     Braunlage    19   31     12 -0.965926
87644  1003.6  931.7   5.2  ...     Braunlage    20   31     12 -0.866025
87645  1003.3  931.4   6.2  ...     Braunlage    21   31     12 -0.707107
87646  1003.4  931.5   7.5  ...     Braunlage    22   31     12 -0.500000
87647  1003.3  931.5   7.0  ...     Braunlage    23   31     12 -0.258819

       hour_cos     month_sin  month_cos  day_of_year_sin  day_of_year_cos
0      1.000000  5.000000e-01   0.866025     1.721336e-02         0.999852
1      0.965926  5.000000e-01   0.866025     1.721336e-02         0.999852
2      0.866025  5.000000e-01   0.866025     1.721336e-02         0.999852
3      0.707107  5.000000e-01   0.866025     1.721336e-02         0.999852
4      0.500000  5.000000e-01   0.866025     1.721336e-02         0.999852
...         ...           ...        ...              ...              ...
87643  0.258819 -2.449294e-16   1.000000     6.432491e-16         1.000000
87644  0.500000 -2.449294e-16   1.000000     6.432491e-16         1.000000
87645  0.707107 -2.449294e-16   1.000000     6.432491e-16         1.000000
87646  0.866025 -2.449294e-16   1.000000     6.432491e-16         1.000000
87647  0.965926 -2.449294e-16   1.000000     6.432491e-16         1.000000

[87648 rows x 24 columns], '01691':                MESS_DATUM  STATIONS_ID  TT_TU  RF_TU    R1  RS_IND   WRTR  \
0     2014-01-01 00:00:00       1691.0    1.7   74.0   0.0     0.0 -999.0
1     2014-01-01 01:00:00       1691.0    1.3   78.0   0.0     0.0 -999.0
2     2014-01-01 02:00:00       1691.0    1.8   74.0   0.0     0.0 -999.0
3     2014-01-01 03:00:00       1691.0    1.7   74.0   0.0     0.0 -999.0
4     2014-01-01 04:00:00       1691.0    2.6   71.0   0.0     0.0 -999.0
...                   ...          ...    ...    ...   ...     ...    ...
87643 2023-12-31 19:00:00       1691.0    6.6   78.0   0.0     0.0    0.0
87644 2023-12-31 20:00:00       1691.0    7.6   71.0   0.0     0.0    0.0
87645 2023-12-31 21:00:00       1691.0    7.8   71.0   0.0     0.0    0.0
87646 2023-12-31 22:00:00       1691.0    7.7   72.0   0.0     0.0    0.0
87647 2023-12-31 23:00:00       1691.0    7.5   72.0   0.0     0.0    0.0

            P     P0     F  ...  Stationsname  hour  day  month  hour_sin  \
0      1013.2  992.3   4.1  ...     Göttingen     0    1      1  0.000000
1      1013.0  992.1   1.6  ...     Göttingen     1    1      1  0.258819
2      1012.9  992.0   4.0  ...     Göttingen     2    1      1  0.500000
3      1013.1  992.2   3.2  ...     Göttingen     3    1      1  0.707107
4      1012.7  991.9   4.3  ...     Göttingen     4    1      1  0.866025
...       ...    ...   ...  ...           ...   ...  ...    ...       ...
87643  1003.3  983.0   4.4  ...     Göttingen    19   31     12 -0.965926
87644  1003.5  983.3   3.9  ...     Göttingen    20   31     12 -0.866025
87645  1003.7  983.5   5.8  ...     Göttingen    21   31     12 -0.707107
87646  1004.0  983.8   5.7  ...     Göttingen    22   31     12 -0.500000
87647  1003.7  983.5   5.8  ...     Göttingen    23   31     12 -0.258819

       hour_cos     month_sin  month_cos  day_of_year_sin  day_of_year_cos
0      1.000000  5.000000e-01   0.866025     1.721336e-02         0.999852
1      0.965926  5.000000e-01   0.866025     1.721336e-02         0.999852
2      0.866025  5.000000e-01   0.866025     1.721336e-02         0.999852
3      0.707107  5.000000e-01   0.866025     1.721336e-02         0.999852
4      0.500000  5.000000e-01   0.866025     1.721336e-02         0.999852
...         ...           ...        ...              ...              ...
87643  0.258819 -2.449294e-16   1.000000     6.432491e-16         1.000000
87644  0.500000 -2.449294e-16   1.000000     6.432491e-16         1.000000
87645  0.707107 -2.449294e-16   1.000000     6.432491e-16         1.000000
87646  0.866025 -2.449294e-16   1.000000     6.432491e-16         1.000000
87647  0.965926 -2.449294e-16   1.000000     6.432491e-16         1.000000

[87648 rows x 24 columns], '02261':                MESS_DATUM  STATIONS_ID  TT_TU  RF_TU    R1  RS_IND   WRTR  \
0     2014-01-01 00:00:00       2261.0   -3.9   96.0   0.0     0.0 -999.0
1     2014-01-01 01:00:00       2261.0   -4.1   96.0   0.0     0.0 -999.0
2     2014-01-01 02:00:00       2261.0   -3.8   95.0   0.0     0.0 -999.0
3     2014-01-01 03:00:00       2261.0   -3.4   93.0   0.0     0.0 -999.0
4     2014-01-01 04:00:00       2261.0   -3.6   91.0   0.0     0.0 -999.0
...                   ...          ...    ...    ...   ...     ...    ...
87643 2023-12-31 19:00:00       2261.0    4.7   84.0   0.0     0.0    0.0
87644 2023-12-31 20:00:00       2261.0    4.8   83.0   0.0     0.0    0.0
87645 2023-12-31 21:00:00       2261.0    4.3   84.0   0.0     0.0    0.0
87646 2023-12-31 22:00:00       2261.0    4.3   82.0   0.0     0.0    0.0
87647 2023-12-31 23:00:00       2261.0    4.0   83.0   0.0     0.0    0.0

            P     P0     F  ...  Stationsname  hour  day  month  hour_sin  \
0      1017.5  947.5   4.1  ...           Hof     0    1      1  0.000000
1      1017.0  947.0   4.1  ...           Hof     1    1      1  0.258819
2      1017.1  947.1   3.3  ...           Hof     2    1      1  0.500000
3      1016.3  946.5   4.1  ...           Hof     3    1      1  0.707107
4      1016.5  946.6   3.5  ...           Hof     4    1      1  0.866025
...       ...    ...   ...  ...           ...   ...  ...    ...       ...
87643  1007.4  940.2   4.8  ...           Hof    19   31     12 -0.965926
87644  1007.7  940.5   3.8  ...           Hof    20   31     12 -0.866025
87645  1007.7  940.4   3.9  ...           Hof    21   31     12 -0.707107
87646  1007.9  940.6   4.1  ...           Hof    22   31     12 -0.500000
87647  1008.0  940.6   4.4  ...           Hof    23   31     12 -0.258819

       hour_cos     month_sin  month_cos  day_of_year_sin  day_of_year_cos
0      1.000000  5.000000e-01   0.866025     1.721336e-02         0.999852
1      0.965926  5.000000e-01   0.866025     1.721336e-02         0.999852
2      0.866025  5.000000e-01   0.866025     1.721336e-02         0.999852
3      0.707107  5.000000e-01   0.866025     1.721336e-02         0.999852
4      0.500000  5.000000e-01   0.866025     1.721336e-02         0.999852
...         ...           ...        ...              ...              ...
87643  0.258819 -2.449294e-16   1.000000     6.432491e-16         1.000000
87644  0.500000 -2.449294e-16   1.000000     6.432491e-16         1.000000
87645  0.707107 -2.449294e-16   1.000000     6.432491e-16         1.000000
87646  0.866025 -2.449294e-16   1.000000     6.432491e-16         1.000000
87647  0.965926 -2.449294e-16   1.000000     6.432491e-16         1.000000

[87648 rows x 24 columns], '05371':                MESS_DATUM  STATIONS_ID  TT_TU  RF_TU    R1  RS_IND   WRTR  \
0     2014-01-01 00:00:00       5371.0    1.4   47.0   0.0     0.0 -999.0
1     2014-01-01 01:00:00       5371.0    0.0   54.0   0.0     0.0    0.0
2     2014-01-01 02:00:00       5371.0   -1.0   63.0   0.0     0.0    0.0
3     2014-01-01 03:00:00       5371.0    0.3   66.0   0.0     0.0 -999.0
4     2014-01-01 04:00:00       5371.0   -1.1   78.0   0.0     0.0    0.0
...                   ...          ...    ...    ...   ...     ...    ...
87643 2023-12-31 19:00:00       5371.0    1.6   95.0   0.0     0.0    0.0
87644 2023-12-31 20:00:00       5371.0    1.7   94.0   0.0     0.0    0.0
87645 2023-12-31 21:00:00       5371.0    1.6   94.0   0.0     0.0    0.0
87646 2023-12-31 22:00:00       5371.0    1.4   94.0   0.0     0.0    0.0
87647 2023-12-31 23:00:00       5371.0    1.4   94.0   0.0     0.0    0.0

           P     P0     F  ...  Stationsname  hour  day  month  hour_sin  \
0     -999.0  904.7  12.5  ...   Wasserkuppe     0    1      1  0.000000
1     -999.0  904.6  10.5  ...   Wasserkuppe     1    1      1  0.258819
2     -999.0  904.9   7.9  ...   Wasserkuppe     2    1      1  0.500000
3     -999.0  904.8  10.1  ...   Wasserkuppe     3    1      1  0.707107
4     -999.0  904.4   7.8  ...   Wasserkuppe     4    1      1  0.866025
...      ...    ...   ...  ...           ...   ...  ...    ...       ...
87643 -999.0  897.8  12.0  ...   Wasserkuppe    19   31     12 -0.965926
87644 -999.0  898.0  14.2  ...   Wasserkuppe    20   31     12 -0.866025
87645 -999.0  898.0  14.5  ...   Wasserkuppe    21   31     12 -0.707107
87646 -999.0  898.0  14.0  ...   Wasserkuppe    22   31     12 -0.500000
87647 -999.0  898.2  12.6  ...   Wasserkuppe    23   31     12 -0.258819

       hour_cos     month_sin  month_cos  day_of_year_sin  day_of_year_cos
0      1.000000  5.000000e-01   0.866025     1.721336e-02         0.999852
1      0.965926  5.000000e-01   0.866025     1.721336e-02         0.999852
2      0.866025  5.000000e-01   0.866025     1.721336e-02         0.999852
3      0.707107  5.000000e-01   0.866025     1.721336e-02         0.999852
4      0.500000  5.000000e-01   0.866025     1.721336e-02         0.999852
...         ...           ...        ...              ...              ...
87643  0.258819 -2.449294e-16   1.000000     6.432491e-16         1.000000
87644  0.500000 -2.449294e-16   1.000000     6.432491e-16         1.000000
87645  0.707107 -2.449294e-16   1.000000     6.432491e-16         1.000000
87646  0.866025 -2.449294e-16   1.000000     6.432491e-16         1.000000
87647  0.965926 -2.449294e-16   1.000000     6.432491e-16         1.000000

[87648 rows x 24 columns], '01270':                MESS_DATUM  STATIONS_ID  TT_TU  RF_TU    R1  RS_IND   WRTR  \
0     2014-01-01 00:00:00       1270.0   -0.6   82.0   0.0     0.0 -999.0
1     2014-01-01 01:00:00       1270.0   -0.8   86.0   0.0     0.0    0.0
2     2014-01-01 02:00:00       1270.0   -0.3   81.0   0.0     0.0    0.0
3     2014-01-01 03:00:00       1270.0    0.6   73.0   0.0     0.0 -999.0
4     2014-01-01 04:00:00       1270.0    1.7   60.0   0.0     0.0    0.0
...                   ...          ...    ...    ...   ...     ...    ...
87643 2023-12-31 19:00:00       1270.0    6.4   76.0   0.0     0.0    0.0
87644 2023-12-31 20:00:00       1270.0    6.4   73.0   0.0     0.0    0.0
87645 2023-12-31 21:00:00       1270.0    6.1   74.0   0.0     0.0    0.0
87646 2023-12-31 22:00:00       1270.0    6.7   71.0   0.0     0.0    0.0
87647 2023-12-31 23:00:00       1270.0    6.6   71.0   0.0     0.0    0.0

            P     P0     F  ...   Stationsname  hour  day  month  hour_sin  \
0      1014.7  974.8   2.0  ...  Erfurt-Weimar     0    1      1  0.000000
1      1014.0  974.1   1.8  ...  Erfurt-Weimar     1    1      1  0.258819
2      1014.2  974.4   2.1  ...  Erfurt-Weimar     2    1      1  0.500000
3      1013.8  974.1   1.3  ...  Erfurt-Weimar     3    1      1  0.707107
4      1013.5  974.0   3.1  ...  Erfurt-Weimar     4    1      1  0.866025
...       ...    ...   ...  ...            ...   ...  ...    ...       ...
87643  1004.4  965.9   7.3  ...  Erfurt-Weimar    19   31     12 -0.965926
87644  1004.9  966.4   7.5  ...  Erfurt-Weimar    20   31     12 -0.866025
87645  1005.4  966.8   7.3  ...  Erfurt-Weimar    21   31     12 -0.707107
87646  1005.3  966.8   8.3  ...  Erfurt-Weimar    22   31     12 -0.500000
87647  1005.3  966.8   8.6  ...  Erfurt-Weimar    23   31     12 -0.258819

       hour_cos     month_sin  month_cos  day_of_year_sin  day_of_year_cos
0      1.000000  5.000000e-01   0.866025     1.721336e-02         0.999852
1      0.965926  5.000000e-01   0.866025     1.721336e-02         0.999852
2      0.866025  5.000000e-01   0.866025     1.721336e-02         0.999852
3      0.707107  5.000000e-01   0.866025     1.721336e-02         0.999852
4      0.500000  5.000000e-01   0.866025     1.721336e-02         0.999852
...         ...           ...        ...              ...              ...
87643  0.258819 -2.449294e-16   1.000000     6.432491e-16         1.000000
87644  0.500000 -2.449294e-16   1.000000     6.432491e-16         1.000000
87645  0.707107 -2.449294e-16   1.000000     6.432491e-16         1.000000
87646  0.866025 -2.449294e-16   1.000000     6.432491e-16         1.000000
87647  0.965926 -2.449294e-16   1.000000     6.432491e-16         1.000000

[87648 rows x 24 columns], '02171':                MESS_DATUM  STATIONS_ID  TT_TU  RF_TU    R1  RS_IND   WRTR  \
0     2014-01-01 00:00:00       2171.0   -0.7   92.0   0.0     0.0 -999.0
1     2014-01-01 01:00:00       2171.0   -0.6   90.0   0.0     0.0 -999.0
2     2014-01-01 02:00:00       2171.0   -0.7   90.0   0.0     0.0 -999.0
3     2014-01-01 03:00:00       2171.0   -0.1   85.0   0.0     0.0 -999.0
4     2014-01-01 04:00:00       2171.0    0.4   83.0   0.0     0.0 -999.0
...                   ...          ...    ...    ...   ...     ...    ...
87643 2023-12-31 19:00:00       2171.0    6.7   78.0   0.0     0.0    0.0
87644 2023-12-31 20:00:00       2171.0    6.6   77.0   0.0     0.0    0.0
87645 2023-12-31 21:00:00       2171.0    6.9   74.0   0.0     0.0    0.0
87646 2023-12-31 22:00:00       2171.0    6.8   74.0   0.0     0.0    0.0
87647 2023-12-31 23:00:00       2171.0    6.5   76.0   0.0     0.0    0.0

            P     P0     F  ...   Stationsname  hour  day  month  hour_sin  \
0      1014.8  981.1   0.9  ...  Hersfeld, Bad     0    1      1  0.000000
1      1014.3  980.6   1.8  ...  Hersfeld, Bad     1    1      1  0.258819
2      1014.5  980.8   1.3  ...  Hersfeld, Bad     2    1      1  0.500000
3      1014.3  980.7   1.8  ...  Hersfeld, Bad     3    1      1  0.707107
4      1013.9  980.4   1.4  ...  Hersfeld, Bad     4    1      1  0.866025
...       ...    ...   ...  ...            ...   ...  ...    ...       ...
87643  1004.5  972.0   5.7  ...  Hersfeld, Bad    19   31     12 -0.965926
87644  1005.3  972.8   4.9  ...  Hersfeld, Bad    20   31     12 -0.866025
87645  1005.3  972.8   4.9  ...  Hersfeld, Bad    21   31     12 -0.707107
87646  1005.1  972.6   5.5  ...  Hersfeld, Bad    22   31     12 -0.500000
87647  1005.4  972.9   4.9  ...  Hersfeld, Bad    23   31     12 -0.258819

       hour_cos     month_sin  month_cos  day_of_year_sin  day_of_year_cos
0      1.000000  5.000000e-01   0.866025     1.721336e-02         0.999852
1      0.965926  5.000000e-01   0.866025     1.721336e-02         0.999852
2      0.866025  5.000000e-01   0.866025     1.721336e-02         0.999852
3      0.707107  5.000000e-01   0.866025     1.721336e-02         0.999852
4      0.500000  5.000000e-01   0.866025     1.721336e-02         0.999852
...         ...           ...        ...              ...              ...
87643  0.258819 -2.449294e-16   1.000000     6.432491e-16         1.000000
87644  0.500000 -2.449294e-16   1.000000     6.432491e-16         1.000000
87645  0.707107 -2.449294e-16   1.000000     6.432491e-16         1.000000
87646  0.866025 -2.449294e-16   1.000000     6.432491e-16         1.000000
87647  0.965926 -2.449294e-16   1.000000     6.432491e-16         1.000000

[87648 rows x 24 columns], '03946':                MESS_DATUM  STATIONS_ID  TT_TU  RF_TU    R1  RS_IND   WRTR  \
0     2014-01-01 00:00:00       3946.0   -1.8   91.0   0.0     0.0 -999.0
1     2014-01-01 01:00:00       3946.0   -1.9   91.0   0.0     0.0 -999.0
2     2014-01-01 02:00:00       3946.0   -1.9   91.0   0.0     0.0 -999.0
3     2014-01-01 03:00:00       3946.0   -1.9   89.0   0.0     0.0 -999.0
4     2014-01-01 04:00:00       3946.0   -1.7   89.0   0.0     0.0 -999.0
...                   ...          ...    ...    ...   ...     ...    ...
87643 2023-12-31 19:00:00       3946.0    5.8   80.0   0.0     0.0    0.0
87644 2023-12-31 20:00:00       3946.0    6.4   75.0   0.0     0.0    0.0
87645 2023-12-31 21:00:00       3946.0    6.0   76.0   0.0     0.0    0.0

In [29]:
#Unrealistische Werte als Missingvalues deklarieren

In [30]:
for key, frame in stationDataDictionary.items():
    for spalte, (min_wert, max_wert) in werteBereicheDictionary.items():
        if spalte in frame.columns:
            stationDataDictionary[key][spalte] = frame[spalte].where((frame[spalte] >= min_wert) & (frame[spalte] <= max_wert), np.nan)

In [31]:
#Stationen mit zuvielen Missing rausfiltern

In [32]:
for key, frame in stationDataDictionary.items():
    for col in stationFeatures:
        if col in frame.columns:
            missingIndices = frame[frame[col].isna()].index.tolist()
            if missingIndices:
                print(f"Spalte '{col}' hat {len(missingIndices)} fehlende Werte an den Zeilen:")
                print(missingIndices)
                del stationDataDictionary[key]
                break
        else:
            print(f"Spalte '{col}' ist nicht im DataFrame.")

In [33]:
keysToDelete = []
missingValueDictionary= {}

for key, frame in stationDataDictionary.items():
    print(f"\n--- Analyse für Station: {key} ---")
    for col in features:
        if col in frame.columns:
            totalLen = len(frame)
            missingMask = frame[col].isna()
            numMissing = missingMask.sum()
            
            if numMissing > 0:
                missingPct = (numMissing / totalLen) * 100

                # Zusammenhängende NaN-Blöcke zählen
                gaps = []
                count = 0
                i= 0
                while i < len(missingMask):
                    if missingMask[i]:
                        count += 1
                    elif count > 0:
                        gaps.append(count)
                        count = 0
                    i+= 1    
                if count > 0:
                    gaps.append(count)

                gaps_sorted = sorted(gaps, reverse=True)

                print(f"\nSpalte '{col}':")
                print(f"- Fehlend: {numMissing} von {totalLen} Werten ({missingPct:.2f}%)")
                print(f"- Alle Längen (absteigend): {gaps_sorted}")
                print(f"- Anzahl Lücken: {len(gaps_sorted)}")

                if missingPct > maxShareMissingValues * 100:
                    print("\n🚨🚨🚨 STATION GELÖSCHT wegen zu vielen fehlenden Werten! 🚨🚨🚨")
                    keysToDelete.append(key)
                    break

                missingValueDictionary[str(key) + str(col)]= (key, col, missingPct, gaps_sorted)
            else:
                print(f"\nSpalte '{col}' hat keine fehlenden Werte.")
        else:
            print(f"\nSpalte '{col}' ist nicht im DataFrame '{key}'.")

for key in keysToDelete:
    del stationDataDictionary[key]

--- Analyse für Station: 00867 ---

Spalte 'TT_TU':
- Fehlend: 294 von 87648 Werten (0.34%)
- Alle Längen (absteigend): [157, 60, 34, 9, 7, 7, 6, 6, 6, 2]
- Anzahl Lücken: 10

Spalte 'RF_TU':
- Fehlend: 296 von 87648 Werten (0.34%)
- Alle Längen (absteigend): [157, 60, 34, 9, 8, 7, 6, 6, 6, 3]
- Anzahl Lücken: 10

Spalte '  R1':
- Fehlend: 414 von 87648 Werten (0.47%)
- Alle Längen (absteigend): [156, 43, 40, 35, 32, 23, 14, 11, 10, 8, 7, 6, 6, 5, 4, 4, 2, 2, 2, 2, 1, 1]
- Anzahl Lücken: 22

Spalte '  P0':
- Fehlend: 268 von 87648 Werten (0.31%)
- Alle Längen (absteigend): [157, 60, 34, 9, 8]
- Anzahl Lücken: 5

Spalte '   F':
- Fehlend: 645 von 87648 Werten (0.74%)
- Alle Längen (absteigend): [163, 159, 124, 60, 39, 35, 33, 9, 8, 8, 3, 2, 2]
- Anzahl Lücken: 13

--- Analyse für Station: 00656 ---

Spalte 'TT_TU':
- Fehlend: 125 von 87648 Werten (0.14%)
- Alle Längen (absteigend): [71, 18, 13, 12, 6, 5]
- Anzahl Lücken: 6

Spalte 'RF_TU':
- Fehlend: 128 von 87648 Werten (0.15%)
- Alle Längen (absteigend): [71, 18, 13, 12, 6, 5, 3]
- Anzahl Lücken: 7

Spalte '  R1':
- Fehlend: 177 von 87648 Werten (0.20%)
- Alle Längen (absteigend): [72, 24, 19, 13, 11, 8, 6, 4, 4, 3, 3, 3, 2, 2, 1, 1, 1]
- Anzahl Lücken: 17

Spalte '  P0':
- Fehlend: 123 von 87648 Werten (0.14%)
- Alle Längen (absteigend): [71, 18, 13, 12, 6, 3]
- Anzahl Lücken: 6

Spalte '   F':
- Fehlend: 2872 von 87648 Werten (3.28%)
- Alle Längen (absteigend): [2717, 72, 17, 14, 12, 11, 7, 5, 4, 4, 3, 2, 1, 1, 1, 1]
- Anzahl Lücken: 16

--- Analyse für Station: 01691 ---

Spalte 'TT_TU':
- Fehlend: 595 von 87648 Werten (0.68%)
- Alle Längen (absteigend): [201, 123, 83, 75, 17, 15, 14, 13, 12, 11, 11, 8, 7, 3, 2]
- Anzahl Lücken: 15

Spalte 'RF_TU':
- Fehlend: 960 von 87648 Werten (1.10%)
- Alle Längen (absteigend): [362, 201, 123, 83, 75, 17, 15, 14, 13, 12, 11, 11, 8, 8, 3, 2, 2]
- Anzahl Lücken: 17

Spalte '  R1':
- Fehlend: 545 von 87648 Werten (0.62%)
- Alle Längen (absteigend): [201, 153, 24, 24, 23, 15, 11, 10, 9, 9, 8, 8, 7, 7, 5, 5, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 29

Spalte '  P0':
- Fehlend: 585 von 87648 Werten (0.67%)
- Alle Längen (absteigend): [201, 123, 83, 75, 17, 15, 14, 13, 12, 11, 11, 8, 2]
- Anzahl Lücken: 13

Spalte '   F':
- Fehlend: 675 von 87648 Werten (0.77%)
- Alle Längen (absteigend): [201, 122, 82, 77, 40, 36, 17, 14, 13, 13, 11, 11, 10, 5, 5, 5, 3, 2, 1, 1, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 26

--- Analyse für Station: 02261 ---

Spalte 'TT_TU':
- Fehlend: 87 von 87648 Werten (0.10%)
- Alle Längen (absteigend): [87]
- Anzahl Lücken: 1

Spalte 'RF_TU':
- Fehlend: 87 von 87648 Werten (0.10%)
- Alle Längen (absteigend): [87]
- Anzahl Lücken: 1

Spalte '  R1':
- Fehlend: 235 von 87648 Werten (0.27%)
- Alle Längen (absteigend): [78, 78, 22, 20, 12, 7, 5, 3, 2, 2, 2, 1, 1, 1, 1]
- Anzahl Lücken: 15

Spalte '  P0':
- Fehlend: 10 von 87648 Werten (0.01%)
- Alle Längen (absteigend): [6, 2, 1, 1]
- Anzahl Lücken: 4

Spalte '   F':
- Fehlend: 948 von 87648 Werten (1.08%)
- Alle Längen (absteigend): [267, 169, 93, 85, 84, 66, 51, 29, 23, 21, 14, 8, 8, 6, 4, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 27

--- Analyse für Station: 05371 ---

Spalte 'TT_TU':
- Fehlend: 23 von 87648 Werten (0.03%)
- Alle Längen (absteigend): [21, 2]
- Anzahl Lücken: 2

Spalte 'RF_TU':
- Fehlend: 74 von 87648 Werten (0.08%)
- Alle Längen (absteigend): [51, 21, 2]
- Anzahl Lücken: 3

Spalte '  R1':
- Fehlend: 387 von 87648 Werten (0.44%)
- Alle Längen (absteigend): [49, 48, 30, 25, 24, 24, 24, 24, 20, 19, 15, 15, 12, 8, 7, 5, 5, 4, 4, 4, 3, 3, 2, 2, 2, 2, 2, 2, 1, 1, 1]
- Anzahl Lücken: 31

Spalte '  P0':
- Fehlend: 21 von 87648 Werten (0.02%)
- Alle Längen (absteigend): [21]
- Anzahl Lücken: 1

Spalte '   F':
- Fehlend: 2630 von 87648 Werten (3.00%)
- Alle Längen (absteigend): [606, 329, 276, 152, 116, 101, 44, 43, 40, 38, 34, 34, 34, 32, 29, 28, 28, 27, 27, 26, 23, 22, 21, 20, 19, 19, 18, 18, 18, 18, 17, 16, 16, 16, 14, 14, 14, 14, 14, 13, 12, 11, 10, 9, 9, 9, 9, 8, 7, 7, 7, 6, 6, 5, 5, 5, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 99

--- Analyse für Station: 01270 ---

Spalte 'TT_TU':
- Fehlend: 26 von 87648 Werten (0.03%)
- Alle Längen (absteigend): [26]
- Anzahl Lücken: 1

Spalte 'RF_TU':
- Fehlend: 27 von 87648 Werten (0.03%)
- Alle Längen (absteigend): [27]
- Anzahl Lücken: 1

Spalte '  R1':
- Fehlend: 330 von 87648 Werten (0.38%)
- Alle Längen (absteigend): [42, 24, 16, 16, 15, 12, 12, 11, 10, 9, 6, 6, 5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 78

Spalte '  P0' hat keine fehlenden Werte.

Spalte '   F':
- Fehlend: 111 von 87648 Werten (0.13%)
- Alle Längen (absteigend): [55, 46, 6, 4]
- Anzahl Lücken: 4

--- Analyse für Station: 02171 ---

Spalte 'TT_TU':
- Fehlend: 398 von 87648 Werten (0.45%)
- Alle Längen (absteigend): [107, 88, 74, 62, 38, 10, 8, 7, 4]
- Anzahl Lücken: 9

Spalte 'RF_TU':
- Fehlend: 712 von 87648 Werten (0.81%)
- Alle Längen (absteigend): [281, 107, 88, 74, 62, 38, 21, 16, 10, 8, 7]
- Anzahl Lücken: 11

Spalte '  R1':
- Fehlend: 321 von 87648 Werten (0.37%)
- Alle Längen (absteigend): [105, 88, 48, 33, 24, 9, 8, 2, 2, 1, 1]
- Anzahl Lücken: 11

Spalte '  P0':
- Fehlend: 393 von 87648 Werten (0.45%)
- Alle Längen (absteigend): [107, 88, 74, 62, 38, 9, 8, 7]
- Anzahl Lücken: 8

Spalte '   F':
- Fehlend: 463 von 87648 Werten (0.53%)
- Alle Längen (absteigend): [105, 88, 74, 61, 38, 36, 16, 11, 9, 9, 5, 2, 2, 2, 2, 1, 1, 1]
- Anzahl Lücken: 18

--- Analyse für Station: 03946 ---

Spalte 'TT_TU':
- Fehlend: 730 von 87648 Werten (0.83%)
- Alle Längen (absteigend): [156, 119, 97, 89, 73, 48, 31, 24, 24, 18, 15, 8, 7, 6, 6, 5, 4]
- Anzahl Lücken: 17

Spalte 'RF_TU':
- Fehlend: 735 von 87648 Werten (0.84%)
- Alle Längen (absteigend): [156, 119, 97, 89, 73, 48, 31, 24, 24, 18, 15, 8, 7, 7, 7, 5, 4, 3]
- Anzahl Lücken: 18

Spalte '  R1':
- Fehlend: 6607 von 87648 Werten (7.54%)
- Alle Längen (absteigend): [6048, 138, 120, 87, 72, 52, 36, 11, 9, 7, 7, 5, 3, 3, 2, 2, 2, 1, 1, 1]
- Anzahl Lücken: 20

Spalte '  P0':
- Fehlend: 6670 von 87648 Werten (7.61%)
- Alle Längen (absteigend): [6054, 156, 119, 97, 89, 73, 31, 18, 15, 7, 6, 5]
- Anzahl Lücken: 12

Spalte '   F':
- Fehlend: 712 von 87648 Werten (0.81%)
- Alle Längen (absteigend): [156, 119, 88, 74, 48, 31, 25, 24, 24, 24, 21, 19, 15, 10, 7, 6, 5, 5, 4, 4, 3]
- Anzahl Lücken: 21

--- Analyse für Station: 05490 ---

Spalte 'TT_TU':
- Fehlend: 87 von 87648 Werten (0.10%)
- Alle Längen (absteigend): [47, 21, 9, 5, 5]
- Anzahl Lücken: 5

Spalte 'RF_TU':
- Fehlend: 87 von 87648 Werten (0.10%)
- Alle Längen (absteigend): [47, 21, 9, 5, 5]
- Anzahl Lücken: 5

Spalte '  R1':
- Fehlend: 431 von 87648 Werten (0.49%)
- Alle Längen (absteigend): [201, 137, 29, 23, 18, 10, 6, 2, 2, 1, 1, 1]
- Anzahl Lücken: 12

Spalte '  P0':
- Fehlend: 22 von 87648 Werten (0.03%)
- Alle Längen (absteigend): [9, 5, 5, 3]
- Anzahl Lücken: 4

Spalte '   F':
- Fehlend: 411 von 87648 Werten (0.47%)
- Alle Längen (absteigend): [163, 119, 49, 27, 8, 8, 6, 5, 4, 4, 4, 3, 2, 2, 2, 1, 1, 1, 1, 1]
- Anzahl Lücken: 20

--- Analyse für Station: 02925 ---

Spalte 'TT_TU':
- Fehlend: 235 von 87648 Werten (0.27%)
- Alle Längen (absteigend): [192, 14, 14, 8, 7]
- Anzahl Lücken: 5

Spalte 'RF_TU':
- Fehlend: 251 von 87648 Werten (0.29%)
- Alle Längen (absteigend): [192, 14, 14, 12, 8, 7, 4]
- Anzahl Lücken: 7

Spalte '  R1':
- Fehlend: 285 von 87648 Werten (0.33%)
- Alle Längen (absteigend): [189, 24, 17, 12, 10, 5, 5, 4, 3, 3, 3, 2, 2, 2, 2, 1, 1]
- Anzahl Lücken: 17

Spalte '  P0':
- Fehlend: 224 von 87648 Werten (0.26%)
- Alle Längen (absteigend): [192, 14, 14, 4]
- Anzahl Lücken: 4

Spalte '   F':
- Fehlend: 590 von 87648 Werten (0.67%)
- Alle Längen (absteigend): [193, 168, 54, 48, 30, 28, 14, 13, 12, 11, 4, 4, 3, 2, 2, 2, 1, 1]
- Anzahl Lücken: 18

--- Analyse für Station: 00198 ---

Spalte 'TT_TU':
- Fehlend: 169 von 87648 Werten (0.19%)
- Alle Längen (absteigend): [113, 24, 17, 14, 1]
- Anzahl Lücken: 5

Spalte 'RF_TU':
- Fehlend: 172 von 87648 Werten (0.20%)
- Alle Längen (absteigend): [113, 24, 17, 14, 3, 1]
- Anzahl Lücken: 6

Spalte '  R1':
- Fehlend: 758 von 87648 Werten (0.86%)
- Alle Längen (absteigend): [484, 74, 55, 18, 18, 18, 14, 14, 14, 14, 12, 5, 4, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 23

Spalte '  P0':
- Fehlend: 651 von 87648 Werten (0.74%)
- Alle Längen (absteigend): [485, 112, 23, 17, 14]
- Anzahl Lücken: 5

Spalte '   F':
- Fehlend: 302 von 87648 Werten (0.34%)
- Alle Längen (absteigend): [112, 68, 30, 26, 24, 18, 15, 5, 2, 2]
- Anzahl Lücken: 10

--- Analyse für Station: 01612 ---

Spalte 'TT_TU':
- Fehlend: 191 von 87648 Werten (0.22%)
- Alle Längen (absteigend): [85, 69, 20, 14, 1, 1, 1]
- Anzahl Lücken: 7

Spalte 'RF_TU':
- Fehlend: 197 von 87648 Werten (0.22%)
- Alle Längen (absteigend): [85, 69, 20, 14, 4, 1, 1, 1, 1, 1]
- Anzahl Lücken: 10

Spalte '  R1':
- Fehlend: 501 von 87648 Werten (0.57%)
- Alle Längen (absteigend): [285, 84, 51, 39, 24, 14, 3, 1]
- Anzahl Lücken: 8

Spalte '  P0':
- Fehlend: 217 von 87648 Werten (0.25%)
- Alle Längen (absteigend): [85, 69, 20, 16, 13, 4, 2, 2, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 14

Spalte '   F':
- Fehlend: 199 von 87648 Werten (0.23%)
- Alle Längen (absteigend): [86, 19, 15, 15, 15, 8, 5, 5, 5, 4, 4, 3, 3, 3, 3, 2, 1, 1, 1, 1]
- Anzahl Lücken: 20

--- Analyse für Station: 04501 ---

Spalte 'TT_TU':
- Fehlend: 296 von 87648 Werten (0.34%)
- Alle Längen (absteigend): [102, 75, 25, 22, 22, 17, 17, 9, 5, 2]
- Anzahl Lücken: 10

Spalte 'RF_TU':
- Fehlend: 300 von 87648 Werten (0.34%)
- Alle Längen (absteigend): [102, 76, 25, 22, 22, 17, 17, 9, 5, 3, 2]
- Anzahl Lücken: 11

Spalte '  R1':
- Fehlend: 566 von 87648 Werten (0.65%)
- Alle Längen (absteigend): [156, 102, 94, 76, 69, 24, 13, 8, 5, 3, 3, 3, 2, 2, 2, 2, 2]
- Anzahl Lücken: 17

Spalte '  P0':
- Fehlend: 263 von 87648 Werten (0.30%)
- Alle Längen (absteigend): [102, 75, 25, 22, 22, 17]
- Anzahl Lücken: 6

Spalte '   F':
- Fehlend: 636 von 87648 Werten (0.73%)
- Alle Längen (absteigend): [167, 102, 75, 53, 24, 23, 22, 21, 18, 17, 15, 11, 10, 10, 9, 9, 9, 8, 6, 6, 4, 3, 3, 3, 3, 2, 1, 1, 1]
- Anzahl Lücken: 29

--- Analyse für Station: 03231 ---

Spalte 'TT_TU' hat keine fehlenden Werte.

Spalte 'RF_TU':
- Fehlend: 66 von 87648 Werten (0.08%)
- Alle Längen (absteigend): [20, 12, 11, 10, 6, 4, 3]
- Anzahl Lücken: 7

Spalte '  R1':
- Fehlend: 82 von 87648 Werten (0.09%)
- Alle Längen (absteigend): [18, 13, 11, 8, 6, 5, 5, 5, 5, 2, 1, 1, 1, 1]
- Anzahl Lücken: 14

Spalte '  P0':
- Fehlend: 54 von 87648 Werten (0.06%)
- Alle Längen (absteigend): [12, 12, 10, 6, 5, 3, 3, 2, 1]
- Anzahl Lücken: 9

Spalte '   F':
- Fehlend: 87 von 87648 Werten (0.10%)
- Alle Längen (absteigend): [20, 12, 12, 9, 8, 7, 6, 5, 2, 2, 2, 2]
- Anzahl Lücken: 12

--- Analyse für Station: 02044 ---

Spalte 'TT_TU':
- Fehlend: 143 von 87648 Werten (0.16%)
- Alle Längen (absteigend): [86, 31, 14, 11, 1]
- Anzahl Lücken: 5

Spalte 'RF_TU':
- Fehlend: 146 von 87648 Werten (0.17%)
- Alle Längen (absteigend): [86, 31, 14, 11, 2, 1, 1]
- Anzahl Lücken: 7

Spalte '  R1':
- Fehlend: 918 von 87648 Werten (1.05%)
- Alle Längen (absteigend): [282, 96, 95, 95, 86, 63, 31, 31, 30, 25, 22, 22, 14, 11, 4, 2, 2, 2, 2, 1, 1, 1]
- Anzahl Lücken: 22

Spalte '  P0':
- Fehlend: 150 von 87648 Werten (0.17%)
- Alle Längen (absteigend): [86, 31, 14, 11, 2, 2, 1, 1, 1, 1]
- Anzahl Lücken: 10

Spalte '   F':
- Fehlend: 1167 von 87648 Werten (1.33%)
- Alle Längen (absteigend): [816, 85, 60, 57, 46, 31, 21, 14, 12, 5, 3, 3, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 22

--- Analyse für Station: 03821 ---

Spalte 'TT_TU':
- Fehlend: 181 von 87648 Werten (0.21%)
- Alle Längen (absteigend): [94, 26, 16, 8, 8, 7, 6, 5, 4, 4, 3]
- Anzahl Lücken: 11

Spalte 'RF_TU':
- Fehlend: 414 von 87648 Werten (0.47%)
- Alle Längen (absteigend): [193, 94, 40, 26, 16, 8, 8, 7, 6, 5, 4, 4, 3]
- Anzahl Lücken: 13

Spalte '  R1':
- Fehlend: 4129 von 87648 Werten (4.71%)
- Alle Längen (absteigend): [3987, 95, 27, 8, 4, 3, 3, 2]
- Anzahl Lücken: 8

Spalte '  P0':
- Fehlend: 4161 von 87648 Werten (4.75%)
- Alle Längen (absteigend): [3986, 94, 27, 15, 8, 8, 8, 5, 4, 3, 2, 1]
- Anzahl Lücken: 12

Spalte '   F':
- Fehlend: 975 von 87648 Werten (1.11%)
- Alle Längen (absteigend): [282, 185, 142, 117, 95, 27, 16, 15, 14, 9, 9, 8, 8, 7, 6, 5, 4, 3, 3, 3, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 35

--- Analyse für Station: 03513 ---

Spalte 'TT_TU':
- Fehlend: 122 von 87648 Werten (0.14%)
- Alle Längen (absteigend): [93, 8, 8, 7, 2, 2, 2]
- Anzahl Lücken: 7

Spalte 'RF_TU':
- Fehlend: 122 von 87648 Werten (0.14%)
- Alle Längen (absteigend): [93, 8, 8, 7, 2, 2, 2]
- Anzahl Lücken: 7

Spalte '  R1':
- Fehlend: 515 von 87648 Werten (0.59%)
- Alle Längen (absteigend): [94, 40, 30, 24, 22, 22, 21, 18, 18, 16, 14, 13, 13, 11, 11, 11, 10, 10, 9, 9, 8, 8, 7, 6, 6, 6, 6, 5, 4, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1]
- Anzahl Lücken: 50

Spalte '  P0':
- Fehlend: 111 von 87648 Werten (0.13%)
- Alle Längen (absteigend): [93, 8, 8, 2]
- Anzahl Lücken: 4

Spalte '   F':
- Fehlend: 528 von 87648 Werten (0.60%)
- Alle Längen (absteigend): [143, 142, 94, 32, 29, 16, 8, 7, 7, 7, 7, 6, 6, 5, 4, 3, 3, 3, 2, 2, 1, 1]
- Anzahl Lücken: 22

--- Analyse für Station: 04464 ---

Spalte 'TT_TU':
- Fehlend: 388 von 87648 Werten (0.44%)
- Alle Längen (absteigend): [93, 84, 68, 64, 58, 15, 6]
- Anzahl Lücken: 7

Spalte 'RF_TU':
- Fehlend: 433 von 87648 Werten (0.49%)
- Alle Längen (absteigend): [93, 84, 68, 64, 58, 45, 15, 6]
- Anzahl Lücken: 8

Spalte '  R1':
- Fehlend: 3025 von 87648 Werten (3.45%)
- Alle Längen (absteigend): [2815, 77, 61, 57, 5, 2, 2, 2, 2, 1, 1]
- Anzahl Lücken: 11

Spalte '  P0':
- Fehlend: 3199 von 87648 Werten (3.65%)
- Alle Längen (absteigend): [2815, 93, 84, 68, 64, 58, 15, 2]
- Anzahl Lücken: 8

Spalte '   F':
- Fehlend: 1051 von 87648 Werten (1.20%)
- Alle Längen (absteigend): [334, 96, 94, 83, 67, 63, 57, 46, 43, 33, 29, 18, 16, 14, 14, 14, 10, 8, 4, 4, 3, 1]
- Anzahl Lücken: 22

--- Analyse für Station: 07368 ---

Spalte 'TT_TU':
- Fehlend: 131 von 87648 Werten (0.15%)
- Alle Längen (absteigend): [85, 42, 3, 1]
- Anzahl Lücken: 4

Spalte 'RF_TU':
- Fehlend: 131 von 87648 Werten (0.15%)
- Alle Längen (absteigend): [85, 42, 3, 1]
- Anzahl Lücken: 4

Spalte '  R1':
- Fehlend: 235 von 87648 Werten (0.27%)
- Alle Längen (absteigend): [83, 42, 23, 21, 20, 12, 6, 5, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1]
- Anzahl Lücken: 18

Spalte '  P0':
- Fehlend: 131 von 87648 Werten (0.15%)
- Alle Längen (absteigend): [85, 42, 3, 1]
- Anzahl Lücken: 4

Spalte '   F':
- Fehlend: 501 von 87648 Werten (0.57%)
- Alle Längen (absteigend): [360, 86, 37, 8, 3, 3, 2, 1, 1]
- Anzahl Lücken: 9

In [34]:
#Missing Value Treatment

In [35]:
missingSectionDictionay= {}

for key, frame in stationDataDictionary.items():
    missing= []
    for col in features:
        if col in frame.columns:
            totalLen = len(frame)
            missingMask = frame[col].isna()

            # Zusammenhängende NaN-Blöcke zählen
            count = 0
            i= 0
            while i < totalLen:
                if missingMask[i]:
                    if count == 0:
                        start= i
                    count += 1
                elif count > 0:
                    missing.append((col, start, count))
                    count = 0
                i+= 1    
            if count > 0:
                missing.append((col, start, count))

    missingSectionDictionay[key]= missing

In [36]:
print(missingSectionDictionay)

{'00867': [('TT_TU', 13304, 34), ('TT_TU', 13367, 60), ('TT_TU', 31291, 157), ('TT_TU', 38623, 6), ('TT_TU', 38650, 6), ('TT_TU', 38672, 6), ('TT_TU', 48520, 7), ('TT_TU', 48545, 7), ('TT_TU', 54943, 9), ('TT_TU', 83439, 2), ('RF_TU', 13304, 34), ('RF_TU', 13367, 60), ('RF_TU', 31291, 157), ('RF_TU', 38623, 6), ('RF_TU', 38650, 6), ('RF_TU', 38672, 6), ('RF_TU', 48519, 8), ('RF_TU', 48545, 7), ('RF_TU', 54943, 9), ('RF_TU', 83438, 3), ('  R1', 13304, 35), ('  R1', 13367, 11), ('  R1', 13387, 40), ('  R1', 31292, 156), ('  R1', 38605, 43), ('  R1', 38649, 7), ('  R1', 38793, 8), ('  R1', 38818, 23), ('  R1', 38844, 4), ('  R1', 38865, 10), ('  R1', 38889, 6), ('  R1', 38915, 5), ('  R1', 38921, 2), ('  R1', 38937, 1), ('  R1', 38940, 2), ('  R1', 62169, 2), ('  R1', 70909, 4), ('  R1', 70944, 2), ('  R1', 70948, 6), ('  R1', 70955, 14), ('  R1', 70973, 1), ('  R1', 70996, 32), ('  P0', 13304, 34), ('  P0', 13367, 60), ('  P0', 31291, 157), ('  P0', 48519, 8), ('  P0', 48544, 9), ('   F', 13304, 35), ('   F', 13367, 60), ('   F', 31049, 163), ('   F', 31292, 159), ('   F', 34639, 124), ('   F', 38623, 33), ('   F', 38988, 3), ('   F', 48520, 8), ('   F', 48545, 8), ('   F', 54943, 9), ('   F', 76118, 2), ('   F', 83439, 2), ('   F', 83442, 39)], '00656': [('TT_TU', 38793, 5), ('TT_TU', 48688, 6), ('TT_TU', 48706, 12), ('TT_TU', 62608, 13), ('TT_TU', 75443, 18), ('TT_TU', 83891, 71), ('RF_TU', 32773, 3), ('RF_TU', 38793, 5), ('RF_TU', 48688, 6), ('RF_TU', 48706, 12), ('RF_TU', 62608, 13), ('RF_TU', 75443, 18), ('RF_TU', 83891, 71), ('  R1', 6851, 4), ('  R1', 32793, 1), ('  R1', 44194, 1), ('  R1', 48640, 4), ('  R1', 57994, 1), ('  R1', 63264, 11), ('  R1', 64646, 2), ('  R1', 76856, 3), ('  R1', 81031, 24), ('  R1', 81387, 8), ('  R1', 81399, 19), ('  R1', 81425, 2), ('  R1', 81428, 6), ('  R1', 81475, 3), ('  R1', 81499, 13), ('  R1', 83883, 3), ('  R1', 83891, 72), ('  P0', 48640, 3), ('  P0', 48688, 6), ('  P0', 48706, 12), ('  P0', 62608, 13), ('  P0', 75443, 18), ('  P0', 83891, 71), ('   F', 6851, 4), ('   F', 28042, 1), ('   F', 32773, 3), ('   F', 32793, 1), ('   F', 48638, 1), ('   F', 48640, 4), ('   F', 48666, 11), ('   F', 48688, 7), ('   F', 48706, 12), ('   F', 48731, 1), ('   F', 55280, 2717), ('   F', 62608, 14), ('   F', 75444, 17), ('   F', 80627, 5), ('   F', 83883, 2), ('   F', 83891, 72)], '01691': [('TT_TU', 13220, 8), ('TT_TU', 38889, 201), ('TT_TU', 39132, 2), ('TT_TU', 49470, 123), ('TT_TU', 49633, 83), ('TT_TU', 53146, 3), ('TT_TU', 57657, 11), ('TT_TU', 57680, 13), ('TT_TU', 57703, 14), ('TT_TU', 57733, 7), ('TT_TU', 57753, 11), ('TT_TU', 57776, 12), ('TT_TU', 57799, 15), ('TT_TU', 57823, 17), ('TT_TU', 57847, 75), ('RF_TU', 13220, 8), ('RF_TU', 34429, 2), ('RF_TU', 38889, 201), ('RF_TU', 39132, 2), ('RF_TU', 49470, 123), ('RF_TU', 49633, 83), ('RF_TU', 53146, 3), ('RF_TU', 57657, 11), ('RF_TU', 57680, 13), ('RF_TU', 57703, 14), ('RF_TU', 57732, 8), ('RF_TU', 57753, 11), ('RF_TU', 57776, 12), ('RF_TU', 57799, 15), ('RF_TU', 57823, 17), ('RF_TU', 57847, 75), ('RF_TU', 76066, 362), ('  R1', 13220, 8), ('  R1', 38889, 201), ('  R1', 49543, 24), ('  R1', 56311, 23), ('  R1', 57711, 5), ('  R1', 57907, 15), ('  R1', 79135, 9), ('  R1', 79153, 4), ('  R1', 79158, 1), ('  R1', 79160, 24), ('  R1', 79188, 5), ('  R1', 79194, 1), ('  R1', 79197, 9), ('  R1', 79207, 1), ('  R1', 79211, 11), ('  R1', 79223, 7), ('  R1', 79241, 3), ('  R1', 79250, 8), ('  R1', 81577, 7), ('  R1', 81590, 1), ('  R1', 81597, 1), ('  R1', 81605, 1), ('  R1', 81611, 2), ('  R1', 81614, 3), ('  R1', 81619, 2), ('  R1', 81629, 4), ('  R1', 82292, 2), ('  R1', 82301, 10), ('  R1', 84170, 153), ('  P0', 38889, 201), ('  P0', 39132, 2), ('  P0', 49470, 123), ('  P0', 49633, 83), ('  P0', 57657, 11), ('  P0', 57680, 13), ('  P0', 57703, 14), ('  P0', 57732, 8), ('  P0', 57753, 11), ('  P0', 57776, 12), ('  P0', 57799, 15), ('  P0', 57823, 17), ('  P0', 57847, 75), ('   F', 13220, 40), ('   F', 19182, 5), ('   F', 25489, 11), ('   F', 25551, 1), ('   F', 25609, 5), ('   F', 25623, 1), ('   F', 25625, 1), ('   F', 25629, 2), ('   F', 25632, 1), ('   F', 26740, 1), ('   F', 36200, 1), ('   F', 36268, 1), ('   F', 38889, 201), ('   F', 46737, 5), ('   F', 49471, 122), ('   F', 49634, 82), ('   F', 53146, 3), ('   F', 57658, 10), ('   F', 57680, 13), ('   F', 57704, 36), ('   F', 57753, 11), ('   F', 57776, 13), ('   F', 57800, 14), ('   F', 57823, 17), ('   F', 57847, 77), ('   F', 83149, 1)], '02261': [('TT_TU', 61369, 87), ('RF_TU', 61369, 87), ('  R1', 12565, 1), ('  R1', 17599, 22), ('  R1', 18947, 20), ('  R1', 36167, 78), ('  R1', 40455, 1), ('  R1', 59818, 1), ('  R1', 61369, 78), ('  R1', 75629, 7), ('  R1', 75645, 5), ('  R1', 75653, 3), ('  R1', 83931, 2), ('  R1', 83955, 2), ('  R1', 83965, 2), ('  R1', 83977, 12), ('  R1', 83993, 1), ('  P0', 24704, 1), ('  P0', 42992, 6), ('  P0', 61453, 1), ('  P0', 65840, 2), ('   F', 4163, 1), ('   F', 5577, 1), ('   F', 20845, 1), ('   F', 22882, 267), ('   F', 24705, 3), ('   F', 29433, 8), ('   F', 40450, 93), ('   F', 42993, 6), ('   F', 50720, 169), ('   F', 53503, 23), ('   F', 53593, 2), ('   F', 53624, 1), ('   F', 53950, 8), ('   F', 53981, 2), ('   F', 53985, 4), ('   F', 53998, 66), ('   F', 54344, 14), ('   F', 55375, 21), ('   F', 55854, 51), ('   F', 60001, 2), ('   F', 60004, 1), ('   F', 60006, 3), ('   F', 60023, 84), ('   F', 61370, 85), ('   F', 64977, 2), ('   F', 65841, 1), ('   F', 75627, 29)], '05371': [('TT_TU', 74795, 2), ('TT_TU', 78155, 21), ('RF_TU', 74795, 2), ('RF_TU', 77798, 51), ('RF_TU', 78155, 21), ('  R1', 534, 25), ('  R1', 583, 48), ('  R1', 1039, 24), ('  R1', 7805, 2), ('  R1', 8155, 4), ('  R1', 9286, 2), ('  R1', 9289, 4), ('  R1', 9294, 1), ('  R1', 9424, 2), ('  R1', 9427, 4), ('  R1', 9539, 20), ('  R1', 9703, 24), ('  R1', 19048, 15), ('  R1', 19447, 2), ('  R1', 19451, 19), ('  R1', 21085, 2), ('  R1', 21089, 8), ('  R1', 24931, 5), ('  R1', 26575, 24), ('  R1', 34548, 7), ('  R1', 34556, 5), ('  R1', 34639, 24), ('  R1', 42319, 15), ('  R1', 45559, 12), ('  R1', 46783, 3), ('  R1', 47611, 3), ('  R1', 65194, 2), ('  R1', 74388, 1), ('  R1', 74399, 1), ('  R1', 77799, 49), ('  R1', 78169, 30), ('  P0', 78155, 21), ('   F', 271, 4), ('   F', 314, 8), ('   F', 339, 28), ('   F', 471, 1), ('   F', 478, 276), ('   F', 804, 16), ('   F', 988, 18), ('   F', 1019, 5), ('   F', 1052, 29), ('   F', 1130, 9), ('   F', 1402, 5), ('   F', 1490, 6), ('   F', 1946, 9), ('   F', 2595, 4), ('   F', 2929, 7), ('   F', 5013, 7), ('   F', 7936, 11), ('   F', 7984, 9), ('   F', 8013, 116), ('   F', 8159, 12), ('   F', 8183, 101), ('   F', 8311, 3), ('   F', 8338, 14), ('   F', 8395, 27), ('   F', 8485, 34), ('   F', 8610, 329), ('   F', 9019, 28), ('   F', 9092, 14), ('   F', 9131, 4), ('   F', 9149, 606), ('   F', 9952, 22), ('   F', 10045, 1), ('   F', 10062, 32), ('   F', 10138, 1), ('   F', 10145, 18), ('   F', 10187, 3), ('   F', 10224, 14), ('   F', 10256, 40), ('   F', 10343, 1), ('   F', 10347, 3), ('   F', 10384, 1), ('   F', 10387, 3), ('   F', 10612, 2), ('   F', 10643, 14), ('   F', 10686, 27), ('   F', 10771, 5), ('   F', 10922, 14), ('   F', 10939, 43), ('   F', 10991, 1), ('   F', 10998, 5), ('   F', 11022, 2), ('   F', 11069, 3), ('   F', 11125, 20), ('   F', 11310, 2), ('   F', 11347, 13), ('   F', 11469, 4), ('   F', 11554, 1), ('   F', 12611, 26), ('   F', 15625, 10), ('   F', 15643, 19), ('   F', 15801, 2), ('   F', 16578, 152), ('   F', 16733, 5), ('   F', 16932, 2), ('   F', 18052, 34), ('   F', 18243, 16), ('   F', 22202, 4), ('   F', 24349, 2), ('   F', 27026, 34), ('   F', 30024, 1), ('   F', 30029, 3), ('   F', 31010, 4), ('   F', 31271, 7), ('   F', 33188, 3), ('   F', 33614, 2), ('   F', 33620, 2), ('   F', 33640, 18), ('   F', 33707, 1), ('   F', 33728, 2), ('   F', 33737, 5), ('   F', 33743, 6), ('   F', 33766, 5), ('   F', 33787, 19), ('   F', 33835, 18), ('   F', 33862, 38), ('   F', 33906, 17), ('   F', 33928, 4), ('   F', 33947, 16), ('   F', 33964, 9), ('   F', 42273, 2), ('   F', 42342, 4), ('   F', 42347, 2), ('   F', 47603, 4), ('   F', 47608, 5), ('   F', 77797, 3), ('   F', 77803, 44), ('   F', 78155, 21), ('   F', 79456, 23), ('   F', 79499, 1)], '01270': [('TT_TU', 83147, 26), ('RF_TU', 83147, 27), ('  R1', 331, 3), ('  R1', 8077, 42), ('  R1', 17631, 3), ('  R1', 17636, 4), ('  R1', 17641, 2), ('  R1', 17985, 1), ('  R1', 17987, 1), ('  R1', 17993, 3), ('  R1', 18516, 4), ('  R1', 19112, 5), ('  R1', 19118, 2), ('  R1', 33008, 2), ('  R1', 33012, 16), ('  R1', 33029, 1), ('  R1', 33036, 3), ('  R1', 34376, 10), ('  R1', 34392, 1), ('  R1', 34396, 1), ('  R1', 37591, 2), ('  R1', 42132, 1), ('  R1', 42878, 3), ('  R1', 42901, 3), ('  R1', 42977, 5), ('  R1', 44072, 4), ('  R1', 44094, 1), ('  R1', 44149, 1), ('  R1', 44383, 24), ('  R1', 51031, 3), ('  R1', 51591, 15), ('  R1', 68244, 2), ('  R1', 68248, 2), ('  R1', 68929, 6), ('  R1', 69031, 3), ('  R1', 69037, 1), ('  R1', 69044, 11), ('  R1', 72295, 12), ('  R1', 74311, 3), ('  R1', 74318, 2), ('  R1', 78608, 1), ('  R1', 78614, 1), ('  R1', 78623, 3), ('  R1', 78627, 1), ('  R1', 78638, 1), ('  R1', 78661, 3), ('  R1', 78702, 1), ('  R1', 78710, 2), ('  R1', 78967, 3), ('  R1', 80533, 1), ('  R1', 80537, 16), ('  R1', 80554, 4), ('  R1', 80581, 2), ('  R1', 80585, 2), ('  R1', 80598, 2), ('  R1', 80608, 9), ('  R1', 80618, 3), ('  R1', 80630, 6), ('  R1', 80651, 3), ('  R1', 80656, 1), ('  R1', 80739, 1), ('  R1', 80748, 1), ('  R1', 80801, 5), ('  R1', 80837, 4), ('  R1', 80858, 2), ('  R1', 80863, 1), ('  R1', 80867, 3), ('  R1', 80886, 2), ('  R1', 80893, 1), ('  R1', 80897, 5), ('  R1', 80903, 3), ('  R1', 80915, 5), ('  R1', 80921, 12), ('  R1', 80938, 2), ('  R1', 80943, 1), ('  R1', 80961, 2), ('  R1', 80987, 2), ('  R1', 81005, 2), ('  R1', 83147, 2), ('  R1', 83155, 1), ('   F', 21658, 6), ('   F', 33000, 55), ('   F', 37620, 46), ('   F', 83145, 4)], '02171': [('TT_TU', 32657, 88), ('TT_TU', 35687, 62), ('TT_TU', 35809, 107), ('TT_TU', 36105, 74), ('TT_TU', 48061, 4), ('TT_TU', 84827, 7), ('TT_TU', 84850, 8), ('TT_TU', 84873, 10), ('TT_TU', 85006, 38), ('RF_TU', 32657, 88), ('RF_TU', 35687, 62), ('RF_TU', 35809, 107), ('RF_TU', 36105, 74), ('RF_TU', 48042, 16), ('RF_TU', 48061, 21), ('RF_TU', 49913, 281), ('RF_TU', 84827, 7), ('RF_TU', 84850, 8), ('RF_TU', 84873, 10), ('RF_TU', 85006, 38), ('  R1', 32267, 1), ('  R1', 32657, 88), ('  R1', 35695, 48), ('  R1', 35809, 105), ('  R1', 35915, 2), ('  R1', 36151, 24), ('  R1', 36707, 8), ('  R1', 36730, 9), ('  R1', 73389, 1), ('  R1', 77227, 2), ('  R1', 85006, 33), ('  P0', 32657, 88), ('  P0', 35687, 62), ('  P0', 35809, 107), ('  P0', 36105, 74), ('  P0', 84827, 7), ('  P0', 84850, 8), ('  P0', 84873, 9), ('  P0', 85006, 38), ('   F', 22185, 2), ('   F', 25630, 16), ('   F', 25650, 36), ('   F', 27096, 11), ('   F', 32657, 88), ('   F', 35688, 61), ('   F', 35809, 105), ('   F', 35915, 2), ('   F', 36105, 74), ('   F', 48061, 5), ('   F', 66875, 2), ('   F', 71881, 2), ('   F', 84828, 1), ('   F', 84833, 1), ('   F', 84850, 9), ('   F', 84874, 9), ('   F', 84898, 1), ('   F', 85006, 38)], '03946': [('TT_TU', 21507, 5), ('TT_TU', 23893, 7), ('TT_TU', 23915, 15), ('TT_TU', 23938, 73), ('TT_TU', 24567, 119), ('TT_TU', 29582, 18), ('TT_TU', 36769, 156), ('TT_TU', 46344, 31), ('TT_TU', 59617, 8), ('TT_TU', 60121, 48), ('TT_TU', 61777, 24), ('TT_TU', 63145, 24), ('TT_TU', 74367, 89), ('TT_TU', 85383, 6), ('TT_TU', 85479, 4), ('TT_TU', 85502, 6), ('TT_TU', 85567, 97), ('RF_TU', 21507, 5), ('RF_TU', 23893, 7), ('RF_TU', 23915, 15), ('RF_TU', 23938, 73), ('RF_TU', 24567, 119), ('RF_TU', 29582, 18), ('RF_TU', 36769, 156), ('RF_TU', 46344, 31), ('RF_TU', 59617, 8), ('RF_TU', 60121, 48), ('RF_TU', 61777, 24), ('RF_TU', 63145, 24), ('RF_TU', 74367, 89), ('RF_TU', 85382, 7), ('RF_TU', 85479, 4), ('RF_TU', 85501, 7), ('RF_TU', 85567, 97), ('RF_TU', 85665, 3), ('  R1', 21511, 1), ('  R1', 23960, 52), ('  R1', 24567, 120), ('  R1', 36775, 138), ('  R1', 57991, 6048), ('  R1', 64820, 3), ('  R1', 65909, 1), ('  R1', 74368, 87), ('  R1', 75647, 2), ('  R1', 82309, 11), ('  R1', 83588, 2), ('  R1', 83592, 5), ('  R1', 85386, 3), ('  R1', 85501, 7), ('  R1', 85558, 9), ('  R1', 85598, 2), ('  R1', 85615, 7), ('  R1', 85624, 1), ('  R1', 85626, 36), ('  R1', 87103, 72), ('  P0', 21507, 5), ('  P0', 23893, 7), ('  P0', 23915, 15), ('  P0', 23938, 73), ('  P0', 24567, 119), ('  P0', 29582, 18), ('  P0', 36769, 156), ('  P0', 46344, 31), ('  P0', 57991, 6054), ('  P0', 74367, 89), ('  P0', 85383, 6), ('  P0', 85567, 97), ('   F', 21507, 5), ('   F', 23894, 6), ('   F', 23915, 15), ('   F', 23938, 74), ('   F', 24568, 119), ('   F', 29582, 19), ('   F', 36769, 156), ('   F', 46344, 31), ('   F', 49423, 5), ('   F', 57991, 4), ('   F', 59618, 7), ('   F', 60121, 48), ('   F', 61504, 21), ('   F', 61777, 24), ('   F', 63145, 24), ('   F', 63861, 10), ('   F', 74368, 88), ('   F', 82288, 3), ('   F', 85383, 4), ('   F', 85567, 24), ('   F', 85639, 25)], '05490': [('TT_TU', 15252, 21), ('TT_TU', 19832, 5), ('TT_TU', 21467, 47), ('TT_TU', 41449, 9), ('TT_TU', 63850, 5), ('RF_TU', 15252, 21), ('RF_TU', 19832, 5), ('RF_TU', 21467, 47), ('RF_TU', 41449, 9), ('RF_TU', 63850, 5), ('  R1', 19791, 18), ('  R1', 19832, 6), ('  R1', 19854, 1), ('  R1', 20246, 137), ('  R1', 20431, 201), ('  R1', 21467, 29), ('  R1', 24192, 2), ('  R1', 41449, 10), ('  R1', 63851, 2), ('  R1', 66103, 1), ('  R1', 66149, 1), ('  R1', 72919, 23), ('  P0', 19832, 5), ('  P0', 20626, 5), ('  P0', 21467, 3), ('  P0', 41449, 9), ('   F', 604, 8), ('   F', 681, 4), ('   F', 687, 119), ('   F', 14936, 3), ('   F', 14965, 163), ('   F', 15252, 2), ('   F', 19832, 49), ('   F', 20627, 4), ('   F', 21468, 27), ('   F', 21518, 2), ('   F', 21536, 1), ('   F', 24192, 1), ('   F', 24248, 1), ('   F', 31904, 6), ('   F', 38294, 1), ('   F', 41450, 8), ('   F', 44722, 1), ('   F', 63851, 2), ('   F', 66704, 5), ('   F', 79586, 4)], '02925': [('TT_TU', 28338, 14), ('TT_TU', 28386, 14), ('TT_TU', 31400, 7), ('TT_TU', 34426, 192), ('TT_TU', 57465, 8), ('RF_TU', 28338, 14), ('RF_TU', 28386, 14), ('RF_TU', 29276, 12), ('RF_TU', 31400, 7), ('RF_TU', 34426, 192), ('RF_TU', 57465, 8), ('RF_TU', 76958, 4), ('  R1', 23155, 1), ('  R1', 33827, 2), ('  R1', 34426, 189), ('  R1', 55423, 24), ('  R1', 59012, 17), ('  R1', 85781, 3), ('  R1', 85785, 5), ('  R1', 85815, 2), ('  R1', 86080, 4), ('  R1', 86092, 12), ('  R1', 86125, 3), ('  R1', 86129, 3), ('  R1', 86155, 5), ('  R1', 86162, 2), ('  R1', 86165, 10), ('  R1', 86182, 1), ('  R1', 86186, 2), ('  P0', 28338, 14), ('  P0', 28386, 14), ('  P0', 34426, 192), ('  P0', 55400, 4), ('   F', 28338, 14), ('   F', 28387, 13), ('   F', 29277, 11), ('   F', 29600, 4), ('   F', 31380, 28), ('   F', 34426, 193), ('   F', 51865, 30), ('   F', 52135, 48), ('   F', 52273, 54), ('   F', 52369, 168), ('   F', 54373, 12), ('   F', 55401, 3), ('   F', 57468, 1), ('   F', 57471, 2), ('   F', 57488, 2), ('   F', 57493, 1), ('   F', 64858, 2), ('   F', 76958, 4)], '00198': [('TT_TU', 29530, 24), ('TT_TU', 29555, 1), ('TT_TU', 30449, 113), ('TT_TU', 72235, 14), ('TT_TU', 86992, 17), ('RF_TU', 29530, 24), ('RF_TU', 29555, 1), ('RF_TU', 30449, 113), ('RF_TU', 72235, 14), ('RF_TU', 76807, 3), ('RF_TU', 86992, 17), ('  R1', 442, 2), ('  R1', 449, 14), ('  R1', 469, 18), ('  R1', 30449, 14), ('  R1', 30488, 74), ('  R1', 38173, 12), ('  R1', 38293, 18), ('  R1', 72235, 14), ('  R1', 72250, 1), ('  R1', 72296, 2), ('  R1', 75249, 484), ('  R1', 76081, 1), ('  R1', 76084, 55), ('  R1', 76602, 1), ('  R1', 76605, 2), ('  R1', 76612, 4), ('  R1', 76617, 1), ('  R1', 76808, 2), ('  R1', 81992, 5), ('  R1', 82003, 14), ('  R1', 82022, 1), ('  R1', 82024, 1), ('  R1', 86992, 18), ('  P0', 29531, 23), ('  P0', 30449, 112), ('  P0', 72235, 14), ('  P0', 75249, 485), ('  P0', 86992, 17), ('   F', 29530, 26), ('   F', 30450, 112), ('   F', 31716, 5), ('   F', 31736, 2), ('   F', 72235, 15), ('   F', 74041, 24), ('   F', 76225, 30), ('   F', 76808, 2), ('   F', 86992, 18), ('   F', 87254, 68)], '01612': [('TT_TU', 42691, 14), ('TT_TU', 42855, 20), ('TT_TU', 42892, 1), ('TT_TU', 42895, 1), ('TT_TU', 42899, 1), ('TT_TU', 42901, 69), ('TT_TU', 54331, 85), ('RF_TU', 42689, 1), ('RF_TU', 42691, 14), ('RF_TU', 42855, 20), ('RF_TU', 42881, 1), ('RF_TU', 42884, 1), ('RF_TU', 42887, 1), ('RF_TU', 42892, 4), ('RF_TU', 42899, 1), ('RF_TU', 42901, 69), ('RF_TU', 54331, 85), ('  R1', 6732, 3), ('  R1', 42595, 14), ('  R1', 42829, 1), ('  R1', 42856, 39), ('  R1', 42919, 51), ('  R1', 44050, 24), ('  R1', 54331, 84), ('  R1', 59842, 285), ('  P0', 42689, 16), ('  P0', 42708, 1), ('  P0', 42830, 1), ('  P0', 42843, 1), ('  P0', 42845, 1), ('  P0', 42848, 1), ('  P0', 42852, 2), ('  P0', 42855, 20), ('  P0', 42877, 2), ('  P0', 42880, 13), ('  P0', 42894, 4), ('  P0', 42899, 1), ('  P0', 42901, 69), ('  P0', 54331, 85), ('   F', 23359, 8), ('   F', 28376, 4), ('   F', 42690, 15), ('   F', 42709, 1), ('   F', 42850, 1), ('   F', 42852, 2), ('   F', 42856, 19), ('   F', 42876, 3), ('   F', 42881, 3), ('   F', 42885, 1), ('   F', 42887, 5), ('   F', 42893, 5), ('   F', 42899, 1), ('   F', 42902, 3), ('   F', 42906, 15), ('   F', 42936, 5), ('   F', 42943, 3), ('   F', 42948, 4), ('   F', 42955, 15), ('   F', 54331, 86)], '04501': [('TT_TU', 7471, 102), ('TT_TU', 7833, 22), ('TT_TU', 9415, 2), ('TT_TU', 11285, 9), ('TT_TU', 12129, 5), ('TT_TU', 12135, 17), ('TT_TU', 21633, 22), ('TT_TU', 72773, 25), ('TT_TU', 79519, 75), ('TT_TU', 84877, 17), ('RF_TU', 7471, 102), ('RF_TU', 7833, 22), ('RF_TU', 9415, 2), ('RF_TU', 11285, 9), ('RF_TU', 12129, 5), ('RF_TU', 12135, 17), ('RF_TU', 21633, 22), ('RF_TU', 71150, 3), ('RF_TU', 72773, 25), ('RF_TU', 79519, 76), ('RF_TU', 84877, 17), ('  R1', 7471, 102), ('  R1', 9415, 3), ('  R1', 9442, 2), ('  R1', 9623, 8), ('  R1', 21643, 13), ('  R1', 28941, 156), ('  R1', 33519, 94), ('  R1', 35678, 2), ('  R1', 46039, 5), ('  R1', 50384, 3), ('  R1', 52761, 3), ('  R1', 53938, 2), ('  R1', 54063, 69), ('  R1', 55523, 2), ('  R1', 69162, 2), ('  R1', 72774, 24), ('  R1', 79519, 76), ('  P0', 7471, 102), ('  P0', 7833, 22), ('  P0', 21633, 22), ('  P0', 72773, 25), ('  P0', 79519, 75), ('  P0', 84877, 17), ('   F', 7244, 8), ('   F', 7432, 15), ('   F', 7471, 102), ('   F', 7834, 21), ('   F', 9622, 9), ('   F', 9868, 3), ('   F', 10620, 3), ('   F', 11285, 10), ('   F', 11424, 6), ('   F', 12133, 1), ('   F', 12135, 17), ('   F', 14603, 3), ('   F', 21634, 22), ('   F', 28904, 4), ('   F', 50384, 3), ('   F', 55592, 9), ('   F', 56581, 2), ('   F', 61240, 9), ('   F', 61256, 6), ('   F', 61270, 10), ('   F', 61351, 1), ('   F', 61358, 1), ('   F', 61624, 23), ('   F', 61682, 11), ('   F', 61807, 53), ('   F', 72774, 24), ('   F', 79519, 75), ('   F', 83650, 167), ('   F', 84877, 18)], '03231': [('RF_TU', 66783, 3), ('RF_TU', 66924, 6), ('RF_TU', 66945, 12), ('RF_TU', 66971, 4), ('RF_TU', 67018, 10), ('RF_TU', 67039, 20), ('RF_TU', 67063, 11), ('  R1', 43522, 1), ('  R1', 65428, 5), ('  R1', 65461, 18), ('  R1', 66873, 1), ('  R1', 66925, 6), ('  R1', 66945, 13), ('  R1', 66974, 2), ('  R1', 67056, 5), ('  R1', 67068, 8), ('  R1', 70100, 5), ('  R1', 71252, 11), ('  R1', 83939, 1), ('  R1', 83941, 1), ('  R1', 83953, 5), ('  P0', 66924, 3), ('  P0', 66929, 1), ('  P0', 66945, 3), ('  P0', 66949, 5), ('  P0', 66973, 2), ('  P0', 67018, 10), ('  P0', 67041, 6), ('  P0', 67048, 12), ('  P0', 67063, 12), ('   F', 29072, 8), ('   F', 63709, 2), ('   F', 65471, 2), ('   F', 66784, 2), ('   F', 66803, 7), ('   F', 66925, 6), ('   F', 66945, 12), ('   F', 66971, 5), ('   F', 67019, 9), ('   F', 67040, 20), ('   F', 67064, 12), ('   F', 82812, 2)], '02044': [('TT_TU', 2011, 11), ('TT_TU', 2127, 14), ('TT_TU', 2148, 1), ('TT_TU', 58338, 86), ('TT_TU', 75193, 31), ('RF_TU', 2011, 11), ('RF_TU', 2127, 14), ('RF_TU', 2148, 1), ('RF_TU', 15631, 2), ('RF_TU', 58338, 86), ('RF_TU', 61979, 1), ('RF_TU', 75193, 31), ('  R1', 2005, 1), ('  R1', 2011, 11), ('  R1', 2128, 14), ('  R

In [37]:
for frameKey, frame in stationDataDictionary.items():
    for key, l in missingSectionDictionay.items():
        if key == frameKey:
            for tripel in l:
                start= tripel[1]
                end= tripel[1] + tripel[2] - 1

                seasonalMeans= stationDataDictionary[key].groupby(['month', 'hour'])[tripel[0]].mean()

                for i in range(start, end + 1):
                    m= frame.loc[i, 'month']
                    h= frame.loc[i, 'hour']
                    meanVal= seasonalMeans.get((m, h), np.nan)

                    stationDataDictionary[key].loc[i, tripel[0]]= meanVal

In [38]:
missingSectionDictionay= {}

for key, frame in stationDataDictionary.items():
    missing= []
    for col in features:
        if col in frame.columns:
            totalLen = len(frame)
            missingMask = frame[col].isna()

            # Zusammenhängende NaN-Blöcke zählen
            count = 0
            i= 0
            while i < totalLen:
                if missingMask[i]:
                    if count == 0:
                        start= i
                    count += 1
                elif count > 0:
                    missing.append((col, start, count))
                    count = 0
                i+= 1    
            if count > 0:
                missing.append((col, start, count))

    missingSectionDictionay[key]= missing

In [39]:
print(missingSectionDictionay)

{'00867': [], '00656': [], '01691': [], '02261': [], '05371': [], '01270': [], '02171': [], '03946': [], '05490': [], '02925': [], '00198': [], '01612': [], '04501': [], '03231': [], '02044': [], '03821': [], '03513': [], '04464': [], '07368': []}

In [40]:
#Dataframe Compination

In [41]:
#Rowwise Compination
rowwiseDf = pd.concat(stationDataDictionary.values(), axis=0, ignore_index=True)

In [42]:
#Rowwise Transforming R1 and F

In [43]:
rowwiseDf.columns

Index(['MESS_DATUM', 'STATIONS_ID', 'TT_TU', 'RF_TU', '  R1', 'RS_IND', 'WRTR',
       '   P', '  P0', '   F', '   D', 'Stationshoehe', 'geoBreite',
       'geoLaenge', 'Stationsname', 'hour', 'day', 'month', 'hour_sin',
       'hour_cos', 'month_sin', 'month_cos', 'day_of_year_sin',
       'day_of_year_cos'],
      dtype='object')

In [44]:
rowwiseDfTransformed= rowwiseDf
rowwiseDfTransformed['   F']= np.log(rowwiseDfTransformed['   F']+1)
rowwiseDfTransformed['  R1']= rowwiseDfTransformed['  R1'].apply(lambda x: 0 if x == 0 else np.log(x + 1))

In [45]:
rowwiseDf

,MESS_DATUM,STATIONS_ID,TT_TU,RF_TU,R1,RS_IND,WRTR,P,P0,F,...,Stationsname,hour,day,month,hour_sin,hour_cos,month_sin,month_cos,day_of_year_sin,day_of_year_cos
0,2014-01-01 00:00:00,867.0,-1.1,91.0,0.0,0.0,NaN,1017.4,974.5,1.629241,...,Lautertal-Oberlauter,0,1,1,0.000000,1.000000,5.000000e-01,0.866025,1.721336e-02,0.999852
1,2014-01-01 01:00:00,867.0,-1.2,93.0,0.0,0.0,NaN,1016.9,974.0,1.526056,...,Lautertal-Oberlauter,1,1,1,0.258819,0.965926,5.000000e-01,0.866025,1.721336e-02,0.999852
2,2014-01-01 02:00:00,867.0,-1.2,93.0,0.0,0.0,NaN,1017.0,974.1,1.568616,...,Lautertal-Oberlauter,2,1,1,0.500000,0.866025,5.000000e-01,0.866025,1.721336e-02,0.999852
3,2014-01-01 03:00:00,867.0,-1.1,92.0,0.0,0.0,NaN,1017.0,974.1,1.629241,...,Lautertal-Oberlauter,3,1,1,0.707107,0.707107,5.000000e-01,0.866025,1.721336e-02,0.999852
4,2014-01-01 04:00:00,867.0,-1.5,94.0,0.0,0.0,NaN,1017.1,974.1,1.308333,...,Lautertal-Oberlauter,4,1,1,0.866025,0.500000,5.000000e-01,0.866025,1.721336e-02,0.999852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1665307,2023-12-31 19:00:00,7368.0,7.0,72.0,0.0,0.0,0.0,1004.4,966.9,1.960095,...,Eisenach,19,31,12,-0.965926,0.258819,-2.449294e-16,1.000000,6.432491e-16,1.000000
1665308,2023-12-31 20:00:00,7368.0,6.7,73.0,0.0,0.0,0.0,1004.8,967.3,1.974081,...,Eisenach,20,31,12,-0.866025,0.500000,-2.449294e-16,1.000000,6.432491e-16,1.000000
1665309,2023-12-31 21:00:00,7368.0,6.4,76.0,0.0,0.0,0.0,1005.0,967.4,1.887070,...,Eisenach,21,31,12,-0.707107,0.707107,-2.449294e-16,1.000000,6.432491e-16,1.000000
1665310,2023-12-31 22:00:00,7368.0,6.8,71.0,0.0,0.0,0.0,1004.8,967.3,2.014903,...,Eisenach,22,31,12,-0.500000,0.866025,-2.449294e-16,1.000000,6.432491e-16,1.000000
1665311,2023-12-31 23:00:00,7368.0,6.8,70.0,0.0,0.0,0.0,1005.1,967.6,2.079442,...,Eisenach,23,31,12,-0.258819,0.965926,-2.449294e-16,1.000000,6.432491e-16,1.000000

In [46]:
for col in rowwiseDf.columns:
    tmp= rowwiseDf[col].isna()
    print(col, tmp.sum())

MESS_DATUM 0
STATIONS_ID 0
TT_TU 0
RF_TU 0
  R1 0
RS_IND 20433
WRTR 815913
   P 280080
  P0 0
   F 0
   D 12763
Stationshoehe 0
geoBreite 0
geoLaenge 0
Stationsname 0
hour 0
day 0
month 0
hour_sin 0
hour_cos 0
month_sin 0
month_cos 0
day_of_year_sin 0
day_of_year_cos 0

In [47]:
tmp= rowwiseDf[['Stationsname', 'geoBreite', 'geoLaenge']]
stations_df = tmp.drop_duplicates(subset=['Stationsname'])
stations_df = stations_df.rename(columns={
    'Stationsname': 'Name',
    'geoBreite': 'Latitude',
    'geoLaenge': 'Longitude'
})

stations_df.to_csv("stations_for_map.csv", index=False)

In [48]:
#Columnwise Compination
colwiseDf = pd.concat(stationDataDictionary, axis=1)
colwiseDf.columns = [f"{col}_{station}" for station, col in colwiseDf.columns]

In [49]:
#Daywise Compination

In [50]:
frames= []
for key, frame in stationDataDictionary.items():
    frame['date'] = frame['MESS_DATUM'].dt.date
    tmp= frame.pivot_table(index= 'date', columns= 'hour', values= hourVarying)
    tmp.columns = [f"{var}_{int(hour):02d}" for var, hour in tmp.columns]
    dailyInfo = frame.groupby('date')[unVarying].first()
    frames.append(pd.concat([dailyInfo, tmp], axis=1))

In [51]:
daywiseDf = pd.concat(frames, axis=0, ignore_index= True)

In [52]:
daywiseDf.columns

Index(['STATIONS_ID', 'Stationshoehe', 'geoBreite', 'geoLaenge',
       'Stationsname', 'day', 'month', 'month_sin', 'month_cos',
       'day_of_year_sin',
       ...
       'WRTR_14', 'WRTR_15', 'WRTR_16', 'WRTR_17', 'WRTR_18', 'WRTR_19',
       'WRTR_20', 'WRTR_21', 'WRTR_22', 'WRTR_23'],
      dtype='object', length=227)

In [53]:
daywiseDf

,STATIONS_ID,Stationshoehe,geoBreite,geoLaenge,Stationsname,day,month,month_sin,month_cos,day_of_year_sin,...,WRTR_14,WRTR_15,WRTR_16,WRTR_17,WRTR_18,WRTR_19,WRTR_20,WRTR_21,WRTR_22,WRTR_23
0,867.0,344,50.3066,10.9679,Lautertal-Oberlauter,1,1,5.000000e-01,0.866025,1.721336e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,867.0,344,50.3066,10.9679,Lautertal-Oberlauter,2,1,5.000000e-01,0.866025,3.442161e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,867.0,344,50.3066,10.9679,Lautertal-Oberlauter,3,1,5.000000e-01,0.866025,5.161967e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,867.0,344,50.3066,10.9679,Lautertal-Oberlauter,4,1,5.000000e-01,0.866025,6.880243e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,867.0,344,50.3066,10.9679,Lautertal-Oberlauter,5,1,5.000000e-01,0.866025,8.596480e-02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69383,7368.0,312,51.0007,10.3621,Eisenach,27,12,-2.449294e-16,1.000000,-6.880243e-02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69384,7368.0,312,51.0007,10.3621,Eisenach,28,12,-2.449294e-16,1.000000,-5.161967e-02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69385,7368.0,312,51.0007,10.3621,Eisenach,29,12,-2.449294e-16,1.000000,-3.442161e-02,...,0.0,0.0,0.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0
69386,7368.0,312,51.0007,10.3621,Eisenach,30,12,-2.449294e-16,1.000000,-1.721336e-02,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69387,7368.0,312,51.0007,10.3621,Eisenach,31,12,-2.449294e-16,1.000000,6.432491e-16,...,6.0,6.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [54]:
#Save Data

In [ ]:
with open("..\data\stationDataDictionary.pkl", "wb") as f:
    pickle.dump(stationDataDictionary, f)

with open("..\data\missingValueDictionary.pkl", "wb") as f:
    pickle.dump(missingValueDictionary, f)

rowwiseDf.to_csv(r"..\data\rowwiseDf.csv", index=False)
rowwiseDfTransformed.to_csv(r"..\data\rowwiseDfTransformed.csv", index=False)
colwiseDf.to_csv(r"..\data\colwiseDf.csv", index=False)
daywiseDf.to_csv(r"..\data\daywiseDf.csv", index=False)
rowwiseDf.to_pickle(r"..\data\rowwiseDf.pkl")
rowwiseDfTransformed.to_pickle(r"..\data\rowwiseDfTransformed.pkl")
colwiseDf.to_pickle(r"..\data\colwiseDf.pkl")
daywiseDf.to_pickle(r"..\data\daywiseDf.pkl")

In [8]:
import pandas as pd

rowwiseDf = pd.read_pickle(r"..\data\rowwiseDf.pkl")
rowwiseDfTransformed= pd.read_pickle(r"..\data\rowwiseDfTransformed.pkl")
colwiseDf= pd.read_pickle(r"..\data\colwiseDf.pkl")
daywiseDf= pd.read_pickle(r"..\data\daywiseDf.pkl")
rowwiseDf.to_csv(r"..\data\rowwiseDf.csv", index=False)
rowwiseDfTransformed.to_csv(r"..\data\rowwiseDfTransformed.csv", index=False)
colwiseDf.to_csv(r"..\data\colwiseDf.csv", index=False)
daywiseDf.to_csv(r"..\data\daywiseDf.csv", index=False)

In [ ]:
"""independendImpulation= {}
dependendImpulation= {}

for key, liste in missingSectionDictionay.items():
    independendGapList= []
    dependendGapList= []
    for gap in liste:
        for measurment in independendMeasurments:
            if (gap[0] == measurment[0] and gap[2] >= measurment[1] and (gap[2] <= measurment[2] or measurment[2] == -1)):
                independendGapList.append((gap[0], gap[1], gap[2], measurment[3]))
    
        for measurment in dependendMeasurments:
            if (gap[0] == measurment[0] and gap[2] >= measurment[1] and (gap[2] <= measurment[2] or measurment[2] == -1)):
                dependendGapList.append((gap[0], gap[1], gap[2], measurment[3]))

    independendImpulation[key]= independendGapList
    dependendImpulation[key]= dependendGapList"""

In [ ]:
#print(independendImpulation)

In [ ]:
#print(independendMeasurments)

In [ ]:
"""#for frameKey, frame in stationDataDictionary.items():
for frameKey, frame in { '00867': stationDataDictionary['00867'] }.items():
    for key, l in independendImpulation.items():
        if key == frameKey:
            for tripel in l:
                start= tripel[1]
                end= tripel[1] + tripel[2]
                
                if tripel[3] == 'Forward Fill':
                    print('Forward Fill', stationDataDictionary[key][tripel[0]][tripel[1]])
                    stationDataDictionary[key].loc[start:end, tripel[0]]= stationDataDictionary[key][tripel[0]].ffill()[start:end]
                    print(stationDataDictionary[key][tripel[0]][tripel[1]])

                elif tripel[3] == 'FillNA(0)':
                    print('FillNA(0)', stationDataDictionary[key].loc[start:end, tripel[0]])
                    stationDataDictionary[key].loc[start:end, tripel[0]]= 0
                    print(stationDataDictionary[key].loc[start:end, tripel[0]])

                elif tripel[3] == 'Zeitbasierte Interpolation':
                    print('Zeitbasierte Interpolation', stationDataDictionary[key].loc[start-1:end, tripel[0]])
                    stationDataDictionary[key].loc[start:end, tripel[0]]= stationDataDictionary[key][tripel[0]].interpolate(method= 'linear')[start:end]
                    print(stationDataDictionary[key].loc[start:end+1, tripel[0]])

                elif tripel[3] == 'Saisonale Mittelwerte':
                    print("Saisonale Mittelwerte", stationDataDictionary[key].loc[start:end, tripel[0]])
                    seasonalMeans= stationDataDictionary[key].groupby(['month', 'hour'])[tripel[0]].mean()

                    for i in range(start, end + 1):
                        m= frame.loc[i, 'month']
                        h= frame.loc[i, 'hour']
                        meanVal= seasonalMeans.get((m, h), np.nan)

                        stationDataDictionary[key].loc[i, tripel[0]]= meanVal
                    print(stationDataDictionary[key].loc[start:end, tripel[0]])"""

In [ ]:
"""missingSectionDictionay1= {}

for key, frame in stationDataDictionary.items():
    missing= []

    for col in features:
        row= 0
        count= 0
        tmp= -1

        while row < len(frame[col]):
            if pd.isna(frame[col][row]):
                count+= 1
                if tmp == -1:
                    tmp= row
            elif tmp != -1:
                missing.append((col, row, count))
                count= 0
                tmp= -1
            else:
                count= 0
            
            row+= 1
        
        if count != 0:
            missing.append((col, row, count))

    missingSectionDictionay1[key]= missing"""

In [ ]:
"""independendImpulation1= {}

for key, liste in missingSectionDictionay1.items():
    independendGapList= []
    for gap in liste:
        for measurment in independendMeasurments:
            if (gap[0] == measurment[0] and gap[2] >= measurment[1] and (gap[2] <= measurment[2] or measurment[2] == -1)):
                independendGapList.append((gap[0], gap[1], gap[2], measurment[3]))

    independendImpulation1[key]= independendGapList"""

In [ ]:
"""for i in independendImpulation1['00867']:
    if i[0] == 'TT_TU':
        print(i)"""

In [ ]:
"""keysToDelete = []

for key, frame in stationDataDictionary.items():
    print(f"\n--- Analyse für Station: {key} ---")
    for col in features:
        if col in frame.columns:
            totalLen = len(frame)
            missingMask = frame[col].isna()
            numMissing = missingMask.sum()
            
            if numMissing > 0:
                missingPct = (numMissing / totalLen) * 100

                # Zusammenhängende NaN-Blöcke zählen
                gaps = []
                count = 0
                for val in missingMask:
                    if val:
                        count += 1
                    elif count > 0:
                        gaps.append(count)
                        count = 0
                if count > 0:
                    gaps.append(count)

                gaps_sorted = sorted(gaps, reverse=True)

                print(f"\nSpalte '{col}':")
                print(f"- Fehlend: {numMissing} von {totalLen} Werten ({missingPct:.2f}%)")
                print(f"- Alle Längen (absteigend): {gaps_sorted}")
                print(f"- Anzahl Lücken: {len(gaps_sorted)}")

                if missingPct > maxShareMissingValues * 100:
                    print("\n🚨🚨🚨 STATION GELÖSCHT wegen zu vielen fehlenden Werten! 🚨🚨🚨")
                    keysToDelete.append(key)
                    break

            else:
                print(f"\nSpalte '{col}' hat keine fehlenden Werte.")
        else:
            print(f"\nSpalte '{col}' ist nicht im DataFrame '{key}'.")

for key in keysToDelete:
    del stationDataDictionary[key]"""

In [ ]:
#missingSectionDictionay